.marquee--logo {
    overflow: hidden;

    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

    .marquee {
        gap: 24px;
        --_animation-direction: reverse;
        display: flex;
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation-duration, 30s) var(--_animation-direction, forwards) linear infinite;
    }

    .icon {
        display: block;
        width: var(--w,76px);
        height: var(--h, 24px);
    }

    .icon--microsoft {
        --w: 76px;
    }

    .icon--aws {
        --w: 25px;
    }

    .icon--moonpay {
        --w: 82px;
    }

    .icon--universal {
        --w: 36px;
    }
    .icon--google-cloud {
        --w: 102px;
    }
    .icon--coinbase {
        --w: 57px;
    }
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}