.section--branding {
    position: relative;

    figure {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            display: block;
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
        }
    }

    .branding__container {
        position: relative;
        z-index: 2;
    }

    .card--branding {
        background-color: rgb(217 217 217 / 0.15);
        border: 1px solid rgb(255 255 255 / 0.5);
        backdrop-filter: blur(6px);
        border-radius: 16px;
        padding-inline: 32px;
        padding-block: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        font-family: var(--font-PlusJakartaSans);
                font-size: 12px;

        >* {
            flex: 1 1 50%;
            min-width: 0;
        }
    }

    .branding__content {
        display: grid;
        gap: 16px;


        h4 {
            display: grid;
            gap: 8px;
            font-family: var(--font-starcoin);
            color: var(--primary-color);
            font-size: 24px;
            font-weight: 900;

            small {
                font-family: var(--font-PlusJakartaSans);
                font-size: 12px;
                font-weight: 300;
                color: #fff;
            }
        }

        .button--outline {
            margin-right: auto;
        }


    }

    a {
        background: rgb(217 217 217 / 0.25);
        border-radius: 999rem;
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            display: inline-flex;
            padding: 10px;
        }
    }

    .icon--send {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        width: 30px;
        padding: 10px;
        aspect-ratio: 1;
        border-radius: 50%;
        color: #000;
        

        svg {
            display: block;
            width: 100%;
            height: 100%;
            stroke: #000;
        }
    }
}




/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--branding {
        
        .card--branding {
            gap: 20px;
            border-radius: 32px;
            padding-inline: 64px;
            padding-block: 48px;
            font-size: 24px;

            a {
                padding: 8px;

                span {
                    padding: 20px;
                }
            }

            .icon--send {
                width: 60px;
                padding: 20px;
            }
        }

        .branding__content {
            gap: 32px;

            h4 {
                gap: 16px;
                font-size: 48px;
            }


        }
    }
}