.section--hardcore-player {
    background: url('../../images/bg-player.png') no-repeat center / cover;

    .section__content {
        display: grid;
        gap: 16px;
        place-content: center;
        text-align: center;

        .button--outline {
            justify-self: center;
        }
    }
}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--hardcore-player {
        .section__content {
            gap: 32px;
        }
    }
}