.section--new-trails {
    position: relative;

    .section__title {
        display: flex;
        align-items: center;
    }

    .section__content {
        display: grid;
        gap: 20px;
    }

    .news-lists {
        order: 2;
        display: grid;
    
        li {
            display: flex;
            border-top: 1px solid var(--primary-color);
            padding-block-start: 8px;
            padding-block-end: 12px;
            font-family: var(--font-starcoin);
            font-size: 14px;
            text-transform: uppercase;
            color: var(--primary-color);
            position: relative;
            cursor: pointer;
        }

        label {
            display: block;
            width: 100%;
            cursor: pointer;
        }
    }

    
}

.news-trails__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    margin: 0;

    &::before {
        content: "";
        position: inherit;
        inset: inherit;
        width: inherit;
        height: inherit;
        background: linear-gradient(0deg, rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.2));
        z-index: 2;
    }

    img {
        display: block;
        width: inherit;
        height: inherit;
        z-index: 1;
        object-fit: cover;
        object-position: center;
    }
}

.new-trails__container {
    position: relative;
    z-index: 2;
}

.cards--new {
    display: grid;
    align-items: start;
    align-content: start;

    >li {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        align-content: start;
        align-items: start;
        gap: 16px;
        background-color: rgb(111 238 135 / 0.2);
        border: 1px solid rgb(111 238 135 / 0.5);
        filter: drop-shadow(0px 12px 6px rgb(111 238 135 / 0.5));
        box-shadow: 0px 16px 12px -10px rgb(111 238 135 / 0.5);
        backdrop-filter: blur(5px);
        border-radius: 16px;
        padding-inline: 24px;
        padding-block: 24px;
        opacity: 0;
        transition: all .2s linear;

    }

    svg {
        display: block;
        width: 32px;
        aspect-ratio: 1;
    }

    p {
        margin-block-start: 0;
        font-size: 12px;
        font-family: var(----font-PlusJakartaSans);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#storage:checked~.cards--new>#card--storage,
#easy-gas:checked~.cards--new>#card--easy-gas,
#dao:checked~.cards--new>#card--dao,
#billing:checked~.cards--new>#card--billing,
#bootstrapped:checked~.cards--new>#card--bootstrapped,
#stdlib:checked~.cards--new>#card--stdlib,
#freely-nft:checked~.cards--new>#card--freely-nft,
#verification:checked~.cards--new>#card--verification {
    animation: slideInRight .28s cubic-bezier(0.4, 0, 0.2, 1) both;
}

#storage:not(:checked)~.cards--new>#card--storage,
#easy-gas:not(:checked)~.cards--new>#card--easy-gas,
#dao:not(:checked)~.cards--new>#card--dao,
#billing:not(:checked)~.cards--new>#card--billing,
#bootstrapped:not(:checked)~.cards--new>#card--bootstrapped,
#stdlib:not(:checked)~.cards--new>#card--stdlib,
#freely-nft:not(:checked)~.cards--new>#card--freely-nft,
#verification:not(:checked)~.cards--new>#card--verification {
    animation: slideOutLeft .2s cubic-bezier(0.8, 0, 0.6, 1) both;
}

#storage:checked~.news-lists>#news__item--storage,
#easy-gas:checked~.news-lists>#news__item--easy-gas,
#dao:checked~.news-lists>#news__item--dao,
#billing:checked~.news-lists>#news__item--billing,
#bootstrapped:checked~.news-lists>#news__item--bootstrapped,
#stdlib:checked~.news-lists>#news__item--stdlib,
#freely-nft:checked~.news-lists>#news__item--freely-nft,
#verification:checked~.news-lists>#news__item--verification {
    color: #fff;
    &::before {
        content: "";
    position: absolute;
    left: 0;
    height: 3px;
    width: 70%;
    background-color: var(--primary-color);
    top: -2px;
    
    }
}

@media only screen and  (min-width: 575.98px) {
    .section--new-trails {
        .section__content {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            align-items: center;
            align-content: center;
        }

        .news-lists {
            order: unset;
        }

        .cards--new {
            align-items: center;
            align-content: center;
        }
    }

    
}


/* width >= 992px*/
@media only screen and (min-width: 991.98px) {
    .cards--new {
        >li {
            border-radius: 32px;
            padding-inline: 48px;
            padding-block: 48px;
            gap: 32px;
        }

        svg {

            width: 64px;
        }

        p {
            font-size: 16px;
        }
    }


    .news-lists {
    
        li {
            padding-block-start: 16px;
            padding-block-end: 24px;
            font-size: 24px;
        }
    }
}