@keyframes marquee {
    to {
        translate: calc(-150% - var(--gap)) 0;
    }
}

@keyframes marquee2 {
    from {
        translate: calc(150% + var(--gap));
    }

    to {
        translate: 0;
    }
}

.marquee--text {
    --gap: 0px;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask: linear-gradient(90deg, #0000, #000 5% 95%, #0000);
    max-width: fit-content;

    .marquee {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: marquee 32s linear infinite running;

        &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            animation-name: marquee2;
        }
    }

    span {
        display: block;
        flex-shrink: 0;
    }
}