.section-star-mask-wallet {
    position: relative;

    figure {
        margin: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
            display: block;
            width: inherit;
            height: inherit;
            object-fit: cover;
            object-position: center;
        }
    }
}

.star-mask-wallet__container {
    position: relative;
    z-index: 2;

    .section__content {
        display: grid;
        gap: 16px;
        font-family: var(--font-PlusJakartaSans);
        font-size: 12px;

        > p {
            text-align: center;
        }

        a {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }
    .content {
        display: grid;
        gap: 10px;
        text-align: center;
        
    }

    .actions {
        display: flex;
        justify-content: center;
        gap: 24px;
    }

    h5 {
        margin: 0;
        font-family: var(--font-starcoin);
        font-size: 16px;
        font-weight: 900;
        text-align: center;

        strong {
            color: var(--primary-color);
        }
    }
}


@media only screen and (min-width: 767.98px) { 
    .star-mask-wallet__container {
    
        .section__content {
            gap: 32px;
        }

        h5 {
            font-size: 32px;
        }
    }
}
