.page--header {
    --padding-block: calc(var(--size-ratio) * 6);
    /* --padding-inline: calc(var(--size-ratio) * 12); */
    position: fixed;
    left: 0;
    right: 0;
    z-index: var(--layer-important);
    
    
    background-color: var(--black-opacity-50);
    backdrop-filter: blur(10px);
    color: var(--white);

    

    

    .social {
        --size: 32px;
        --gap: 24px;
    }

    .hamburg {
        
    }
}

.header__container {
    width: 100%;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    --width: 78px; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
    }

    svg {
        width: var(--width);
        aspect-ratio: 374 / 72;
        fill: #fff;
    }
}

.nav--wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: var(--layer-2);
    background-color: var(--black);
    display: grid;

    .item {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-inline: 24px;
        padding-block: 16px;
    }

    display: none;
}