.page--header {
    --padding-block: calc(var(--size-ratio) * 6);
    /* --padding-inline: calc(var(--size-ratio) * 12); */
    position: fixed;
    left: 0;
    right: 0;
    z-index: var(--layer-important);


    background-color: var(--black-opacity-50);
    backdrop-filter: blur(10px);
    color: var(--white);





    .social {
        --size: 32px;
        --gap: 24px;
    }

    .hamburg {}
}

.header__container {
    width: 100%;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    --width: 78px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
    }

    svg {
        width: var(--width);
        aspect-ratio: 374 / 72;
        fill: #fff;
    }
}

.nav--wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: var(--layer-2);
    background-color: var(--black);


    display: none; /* 默认为 none */

    .item {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-inline: 24px;
        padding-block: 16px;
    }

    /* 汉堡 icon 点击切换类名 open */

    &.open {
        display: grid;
    }

    
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .page--header {
        padding-block-end: 48px;
        .hamburg {
            display: none;
        }
    }

    .nav--wrapper {
        display: flex;
        position: unset;
        background-color: unset;
        align-items: center;

        .item {
            padding: unset;
        }
    }
}


/* width >= 1200px */ 
@media only screen and (min-width: 1199.98px) {
    .page--header {
        padding-block-end: 0;
    }
    .nav--wrapper {
        .social {
            --gap: 16px;
        }
        .item {
            gap: 16px;
        }
    }
}


/* Header Navigation */
.navigation--header {
    font-family: var(--font-starcoin);
    font-size: 12px;
    overflow-y: scroll;
    max-height: calc(100dvh - 66px);
    overscroll-behavior: contain;
    scroll-behavior: smooth;

    > li {
        border-bottom: 1px solid rgb(111 238 135 / .5);

        &:has(.active) {
            border-bottom: 1px solid rgb(111 238 135);
        }
    }

    .dropdown__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 24px;
        cursor: pointer;

        &.active {
            border-bottom-color: currentColor;
            > a {
                color: var(--link-color-active);
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        min-height: 48px;
        flex: 1 1 0%;
        
        color: var(--link-color);
        transition: all .28s linear;
        font-size: 14px;

        &:focus,
        &:hover{
            color: var(--link-color-active);
        }

    }

    .icon--arrow-right {
        display: block;
        aspect-ratio: 1;
        width: 44px;
        fill: currentColor;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        padding: 12px;
        cursor: pointer;
    }

    .dropdown__content {
        display: none;
        /* border-bottom: 1px solid  rgb(111 238 135 / .5); */
       
        a {
            font-size: 12px;
            border-bottom: none;
            font-family: var(--font-PlusJakartaSans);
            opacity: .7;
            padding-inline: 24px;

            &:hover {
                opacity: 1;
            }
        }
    }
    
    .active {
        .icon--arrow-right {
            transform: rotate(90deg);
        }
        + .dropdown__content {
            display: grid;
        }
    }


}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {

    .navigation--header {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:unset;
        backdrop-filter: unset;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-inline: 24px;
        border-bottom: 1px solid rgb(111 238 135 / .5);
        overflow: visible;

        .dropdown {
            min-width: 0;
            position: relative;
            

            > span {
                padding: unset;
                justify-content: flex-start;
                gap: 0;
                white-space: nowrap;
            }

            svg {
                margin-inline-start: unset;
                transform: rotate(90deg);
                flex-shrink: 0;
            }

            &:hover > .dropdown__content {
                display: grid;
            }
        }

        .dropdown__content {
            position: absolute;
            top: calc(100% - 10px);
            left: -16px;
            z-index: 5;
            background-color: rgb(0 0 0 / .85);
            backdrop-filter: blur(4px);
            padding: 4px;
            border-radius: 8px;

            a {
                white-space: nowrap;
            }

            &::before {
                content: "";
                position: absolute;
                left: 15%;
                bottom: calc(100% - 6px);
                width: 10px;
                aspect-ratio: 1;
                background-color: rgb(0 0 0 / .85);
                border-radius: 2px;
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                transform: rotate(45deg)
            }
        }

       
        > li {
            border-bottom: none;
    
            &:has(.active) {
                border-bottom: none;
            }
        }

    }
}

/* width >= 1200px */ 
@media only screen and (min-width: 1199.98px) {
    .navigation--header {
        position: unset;
        background-color: unset;
        justify-content: flex-start;
        border-bottom: none;
        backdrop-filter: unset;
        gap: 16px;

        .dropdown {
            > a {
                min-height: unset;
            }
        }

        .dropdown__content {
            top: calc(100% + 5px);
        }

        
    }
}




/* Language */
.dropdown--language {
    --color: rgb(255 255 255 / 0.6);
    --padding-block: 6px;
    --padding-inline: 16px;
    --size: 44px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  
    .dropdown__toggle {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border: 1px solid currentColor;
      border-radius: 999rem;
      padding-inline: var(--padding-inline);
      padding-block: var(--padding-block);
      position: relative;
      color: var(--color);
      transition: all 0.2s linear;
      cursor: pointer;
      font-size: 14px;
      background-color: transparent;
  
      .icon--down {
        display: block;
        width: 24px;
        aspect-ratio: 1;
        fill: currentColor;
        transition: all 0.2s linear;
      }
  
      &:hover {
        color: var(--white);
      }
    }
  
    .dropdown__content {
      position: absolute;
      z-index: 3;
      right: 0;
      top: calc(100% + 14px);
      background-color: rgb(0 0 0 / .85);
      border-radius: 6px;
      max-height: calc(var(--size) * var(--options));
      overflow-y: hidden;
      transition: .4s linear .2s;
      height: 0;
      color: var(--color);
      min-width: 220px;
      opacity: 0;
  
      &.active {
          height: calc(var(--size) * var(--options));
          opacity: 1;
        }
    }
  
    .option {
      padding: 8px 20px;
      font-weight: 500;
      font-size: 14px;
      transition: .3s ease-in-out;
      height: var(--size);
      cursor: pointer;
    
      &:hover,
      &.selected {
          color: var(--white);
      }
    }
  }
  