.page--header {
    --padding-block: calc(var(--size-ratio) * 6);
    --padding-inline: calc(var(--size-ratio) * 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    background-color: var(--black-opacity-50);
    color: var(--white);
}

/* logo */
.logo {
    --width: 78px; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
    }

    svg {
        width: var(--width);
        aspect-ratio: 792 / 612;
        fill: #fff;
    }
}