
@keyframes marquee3 {
    to {
        translate: calc(-300% - var(--gap)) 0;
    }
}

.section--social {

    
    .marquee--text {
        -webkit-text-stroke-color: var(--white);
        -webkit-text-stroke-width: 1px;
        font-size: 32px;
        text-transform: uppercase;
        font-family: var(--font-starcoin);
        -webkit-text-fill-color: transparent;

        .marquee {
            flex-shrink: 0;
            display: flex;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: marquee3 64s linear infinite running;
    
            span {
                display: block;
                flex-shrink: 0;
            }
        }
        
    }

    

    .marquee--text2 {
        -webkit-text-stroke-color: var(--primary-color);

        .marquee {
            animation-direction: reverse;
            animation-duration: 30s;
        }
    }

    .content {
        display: grid;
        gap: 32px;
        place-content: center;
        text-align: center;
        font-size: 12px;
        font-family: var(--font-PlusJakartaSans);
        margin-block: 12px ;
    }

    .social {
        --size: 32px;
        --gap: 16px;
        justify-self: center;
    }
}




