.card--statistics {
  display: grid;
  justify-self: unset;
  width: 100%;

  .card__title {
    display: none;
  }

  .card__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 180px), 1fr));
    gap: 4px 16px;
    background: rgb(217 217 217 / 0.15);
    border: 1px solid rgb(255 255 255 / 0.5);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    font-size: 12px;
    color: rgb(255 255 255 / .8);
    font-family: var(--font-PlusJakartaSans);
    padding-inline: 18px;
    padding-block: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    line-height: 2;
  }

  dl {
    margin: 0;
  }

  dt {
    min-height: 48px;
    display: flex;
    align-items: center;
  }

  dd {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    background: linear-gradient(180deg, #6FEE87 0%, #006C14 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text;

  }
}

/* width >= 575.98px */
@media only screen and (min-width: 575.98px) {
  .card--statistics {
    .card__content {

    grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 220px), 1fr));
    }

    dt {
      min-height: unset;
    }
  }
}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
  .card--statistics {
    .card__content {

    grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 280px), 1fr));
    }
  }
  
}


/* width >= 992px*/ 
@media only screen and (min-width: 991.98px) {
  .card--statistics {
    gap: 28px;
    border-radius: 24px;
    padding-inline: 32px;
    padding-block: 28px;
    border: 1px solid rgb(255 255 255 / 0.5);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
    font-size: 18px;
    font-family: var(--font-starcoin);
    justify-self: unset;

    .card__title {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .card__content {
      /* grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 280px), 1fr)); */
      padding-inline: 30px;
      padding-block: 16px;
      gap: 44px;
    }
  }
}




/* width >= 1024px*/ 
@media only screen and (min-width: 1023.98px) {
  .card--statistics {
    .card__content {

    grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 170px), 1fr));
    }

    dt {
      min-height: 48px;
    }
  }
}
