.section--feature {
    background: linear-gradient(180deg, rgb(111 238 135 / 0.3) 0%, rgba(111 238 135 / 0.147) 87%, rgb(63 136 77 / 0.048) 100%);

}

.cards--feacures {
    display: grid;
    gap: 16px;


    .card {
        background-color: rgb(0 0 0 / 0.15);
        border: 1px solid rgb(255 255 255 / 0.5);
        backdrop-filter: blur(4px);
        box-shadow: 0px 32px 64px -12px rgb(111 238 135 / 0.43);
        border-radius: 16px;
        padding-inline: 16px;
        padding-block: 16px;
        padding-block-start: 32px;
        font-family: var(--font-PlusJakartaSans);
        font-size: 12px;
        transition: all .28s linear;
        position: relative;
        overflow: hidden;
        display: grid;
        gap: 8px;

        >figure {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 16px;

        }

        &:hover {
            background-color: rgb(255 255 255 / 0.15);
            border-color: #FFFFFF;
        }
    }

    figure {
        margin: 0;
        padding: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card__title {
        font-family: var(--font-starcoin);
        font-size: 14px;
        margin-block-start: 0;
    }

    p {
        margin-block-start: 0;
    }



}

.sub-cards--features {
    margin-block-start: 8px;
    display: grid;
    gap: 10px;
    .sub-card {
        background-color: rgb(217 217 217 / 0.05);
        border-radius: 12px;
        padding-block: 20px;
        padding-inline: 20px;
        transition: all .28s linear;

        display: grid;
        gap: 10px;

        &:hover {

            background-color: rgb(0 0 0 / 0.25);


        }

    }

    h5 {
        margin: 0;
        font-size: 12px;
    }

    .sbu-card__media {

        background-color: #FFFFFF;

        border-radius: 8px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 4px 16px rgb(0 0 0 / 0.15), inset 0px 4px 4px #6FEE87;
            z-index: 2;
            border-radius: inherit;
        }
    }

    :is(.sub-card__content, ul) {
        display: grid;
        gap: 4px;
    }

    ul {
        margin-inline-start: 16px;
    }

    li {
       list-style: outside disc;
    }
}

/* width >= 575.98px */ 
@media only screen and  (min-width: 575.98px) {
    .cards--feacures {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .card {
            &:last-child {
                grid-column: span 2;
            }
        }
    }
    .sub-cards--features {
       

        .sub-card {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        h5 {
            grid-column: span 2;
        }

        .sbu-card__media {
            order: 2;
            align-self: center;
        }
    }
}


/* width >= 992px*/
@media only screen and (min-width: 991.98px) {
    .cards--feacures {
        gap: 32px;

        .card {
            border-radius: 32px;
            padding-inline: 32px;
            padding-block: 32px;
            padding-block-start: 64px;
            gap: 16px;

            

            >figure {
                height: 32px;
            }
        }

        .card__title {
            font-size: 24px;
        }
    }

    .sub-cards--features {
        margin-block-start: 16px;

        .sub-card {
            border-radius: 24px;
            padding-block: 40px;
            padding-inline: 40px;
            gap: 20px;
            
        }

        h5 {
            font-size: 24px;
            
        }

        .sbu-card__media {
            border-radius: 16px;
        }

        li {
            padding-inline-start: 20px; 
         }
    }

}