---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import I18n, { type LocaleCode } from "@/i18n";

const lng = Astro.currentLocale as LocaleCode;

---

<!doctype html>
<html lang={lng}>
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" />

		<slot name="page-meta" />
	</head>
	<body class="bg-cyan-50">
		<slot />
	</body>
</html>
