---
import "@/styles/style.css";
import "@/styles/aos.css"

import Header from "@/components/Header";
import Footer from "@/components/Footer";
import SVGIcons from "@/components/SVGIcons/index.astro";

import I18n, { type LocaleCode } from "@/i18n";
const lng = I18n.pick_current_locale(Astro.currentLocale as LocaleCode);
---

<!doctype html>
<html lang={lng}>
  <head prefix="og: https://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="preload"
      href="/fonts/starcoin.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/PlusJakartaSans-Italic-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/PlusJakartaSans-VariableFont_wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    
    <slot name="page-meta" />
  </head>

  <body>
    <SVGIcons />
    <Header locale={lng} client:load />
    <main>
      <slot />
    </main>
    <Footer locale={lng} />
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
        debounceDelay: 50,
        throttleDelay: 99,
        offset: 200,
        duration: 1000,
      });
    </script>
    <script is:inline>
      window.addEventListener("scroll", function () {
        // 获取滚动位置
        const scrollPosition = window.scrollY;
        // 计算视差强度
        const parallaxStrength = 0.05; // 视差效果的强度，根据需求调整
        // 计算 transform 值
        const translateY = scrollPosition * parallaxStrength * -1; // 根据滚动位置和视差强度计算 translateY 值
        // 应用 transform
        const videos = document.querySelectorAll(".background-video");
        if (scrollPosition < 400) {
          videos.forEach(video => {
            video.style.transform = `translate3d(0, ${translateY}px, 0)`;
          })
        } 
        
      });

    </script>
  </body>
</html>
