---
import "@/styles/global.css";
import "./layout.css";

import Header from "@/components/Header";
import Footer from "@/components/Footer";
import SVGIcons from "@/components/SVGIcons/index.astro";

import I18n, { type LocaleCode } from "@/i18n";
const lng = I18n.pick_current_locale(Astro.currentLocale as LocaleCode);
const t = I18n.create_trans(lng)
---

<!doctype html>
<html lang={lng}>
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" />

		<link
			rel="preload"
			href="/fonts/starcoin.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/PlusJakartaSans-Italic-VariableFont_wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/PlusJakartaSans-VariableFont_wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<slot name="page-meta" />
	</head>

	<body>
		
		
		<SVGIcons />
		<Header locale={lng} client:load />
		<main>
			<slot />
		</main>
		<Footer locale={lng} />
	</body>
</html>
