---
import "../styles/global.css";
import "./layout.css";

import Header from "@/components/Header";
import Footer from "@/components/Footer";
import SVGIcons from "@/components/SVGIcons";

import I18n, { type LocaleCode } from "@/i18n";

const lng = Astro.currentLocale as LocaleCode;
---

<!doctype html>
<html lang={lng}>
	<head prefix="og: https://ogp.me/ns#">
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" />

		<link
			rel="preload"
			href="/fonts/starcoin.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/PlusJakartaSans-Italic-VariableFont_wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
		<link
			rel="preload"
			href="/fonts/PlusJakartaSans-VariableFont_wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>

		<slot name="page-meta" />
	</head>

	<body>
		<svg class="sr-only">
			<symbol id="card1" viewBox="0 0 64 64">
				<path
					fill="url(#a)"
					d="M63.093 11.963H45.237a.907.907 0 1 0 0 1.813h15.61l-13.98 13.488H3.153l13.98-13.488h.78a.907.907 0 1 0 0-1.813h-1.146c-.235 0-.46.09-.63.254L.277 27.518a.905.905 0 0 0-.277.653v34.922c0 .501.406.907.907.907h46.326c.235 0 .46-.09.63-.254l15.86-15.302a.907.907 0 0 0 .277-.653V12.87c0-.5-.406-.906-.907-.906ZM46.326 62.187H32.697v-33.11h13.629v33.11Zm-15.442 0H17.256v-33.11h13.627v33.11Zm-29.07-33.11h13.628v33.11H1.814v-33.11Zm46.325 31.881V28.556l14.047-13.552v32.402L48.139 60.958ZM24.262 12.87c0-.5.406-.906.907-.906h12.813a.907.907 0 1 1 0 1.813H25.17a.907.907 0 0 1-.907-.907Zm3.79 36.638h-7.878c-.501 0-.907.406-.907.907v5.795c0 .501.406.907.907.907h7.877c.5 0 .907-.406.907-.907v-5.795a.907.907 0 0 0-.907-.907Zm-.908 5.795h-6.063v-3.98h6.063v3.98Zm-7.963-20.247c0-.5.406-.907.907-.907h7.878a.907.907 0 0 1 0 1.814h-7.878a.907.907 0 0 1-.907-.907Zm0 3.396c0-.5.406-.907.907-.907h7.878a.907.907 0 0 1 0 1.814h-7.878a.907.907 0 0 1-.907-.907Zm0 3.395c0-.5.406-.906.907-.906h7.878a.907.907 0 1 1 0 1.813h-7.878a.907.907 0 0 1-.907-.907Zm24.312 7.661h-7.878c-.5 0-.907.406-.907.907v5.795c0 .501.407.907.907.907h7.878a.907.907 0 0 0 .907-.907v-5.795a.907.907 0 0 0-.907-.907Zm-.907 5.795h-6.063v-3.98h6.063v3.98Zm-7.962-13.456c0-.5.405-.906.906-.906h7.878a.907.907 0 1 1 0 1.813H35.53a.907.907 0 0 1-.907-.907Zm0-3.395c0-.5.405-.907.906-.907h7.878a.907.907 0 0 1 0 1.814H35.53a.907.907 0 0 1-.907-.907Zm0-3.396c0-.5.405-.907.906-.907h7.878a.907.907 0 0 1 0 1.814H35.53a.907.907 0 0 1-.907-.907ZM12.608 49.507H4.732a.907.907 0 0 0-.907.907v5.795c0 .501.406.907.907.907h7.877c.5 0 .907-.406.907-.907v-5.795a.907.907 0 0 0-.907-.907Zm-.907 5.795H5.638v-3.98h6.064v3.98ZM3.74 38.451c0-.5.407-.907.907-.907h7.878a.907.907 0 0 1 0 1.814H4.646a.907.907 0 0 1-.907-.907Zm0-3.396c0-.5.407-.907.907-.907h7.878a.907.907 0 0 1 0 1.814H4.646a.907.907 0 0 1-.907-.907Zm0 6.791c0-.5.407-.906.907-.906h7.878a.907.907 0 1 1 0 1.813H4.646a.907.907 0 0 1-.907-.907Zm51.424-12.612c-3.086 0-5.503 3.842-5.503 8.747 0 4.905 2.417 8.748 5.503 8.748 3.085 0 5.503-3.843 5.503-8.748 0-4.905-2.418-8.747-5.503-8.747Zm0 15.681c-2 0-3.69-3.175-3.69-6.934 0-3.758 1.69-6.934 3.69-6.934s3.689 3.176 3.689 6.934c0 3.759-1.69 6.934-3.69 6.934Zm1.796-7.484a.908.908 0 0 1 .154.79l-1.274 4.66a.908.908 0 0 1-1.75-.479l.96-3.514h-.961a.907.907 0 0 1-.875-1.146l1.274-4.66a.906.906 0 1 1 1.75.478l-.962 3.514h.963c.283 0 .55.133.721.357ZM.907 1.814h19.727v13.359a3.768 3.768 0 0 0-2.622 2.436l-4.9 4.727a.907.907 0 0 0 .63 1.56H45.14c.235 0 .46-.091.63-.254l5.117-4.938a.907.907 0 0 0-.63-1.56H44.93a3.77 3.77 0 0 0-2.413-1.967V1.814h20.576a.907.907 0 0 0 0-1.814H41.61c-.501 0-.907.406-.907.907v14.25c-1.097.26-2.009 1-2.5 1.988H24.93a3.767 3.767 0 0 0-2.482-1.985V.907c0-.5-.406-.907-.907-.907H.907a.907.907 0 0 0 0 1.814ZM17.814 20.32v1.762h-1.826l1.826-1.762Zm20 1.762H25.32v-3.123h12.494v3.123Zm7.505-.526v-2.597h2.693l-2.693 2.597Zm-4.616-4.482v.978a.907.907 0 0 0 1.814 0v-.933c.59.333.989.965.989 1.69v3.273h-3.879v-3.274a1.94 1.94 0 0 1 1.076-1.734Zm-17.197 1.734v3.274h-3.878v-3.274c0-.731.407-1.368 1.006-1.699v.943a.907.907 0 1 0 1.814 0v-.97a1.94 1.94 0 0 1 1.058 1.726Z"
				></path>
				<defs>
					<linearGradient
						id="a"
						x1="32"
						x2="32"
						y1="0"
						y2="64"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".69" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card2" viewBox="0 0 64 60">
				<mask
					id="a"
					width="64"
					height="34"
					x="0"
					y="16"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 16.188h64v32.908H0V16.188Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						fill-rule="evenodd"
						d="M0 46.23c0 1.5.623 2.717 1.391 2.717H62.61c.768 0 1.391-1.217 1.391-2.718V19.053c0-1.5-.623-2.717-1.391-2.717H1.39C.623 16.336 0 17.552 0 19.053V46.23Zm2.783-2.718V21.77h58.434v21.74H2.783Z"
						clip-rule="evenodd"></path>
				</g>
				<path
					fill="url(#c)"
					fill-rule="evenodd"
					d="M38.956 32.641c0-1.5.623-2.717 1.391-2.717h5.566c.768 0 1.39 1.217 1.39 2.717 0 1.502-.622 2.718-1.39 2.718h-5.566c-.768 0-1.39-1.217-1.39-2.718Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#d)"
					fill-rule="evenodd"
					d="M16.696 32.641c0-1.5.623-2.717 1.391-2.717h5.565c.769 0 1.392 1.217 1.392 2.717 0 1.502-.623 2.718-1.392 2.718h-5.565c-.768 0-1.391-1.217-1.391-2.718Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#e)"
					fill-rule="evenodd"
					d="M50.088 32.641c0-1.5.623-2.717 1.391-2.717h4.174c.768 0 1.391 1.217 1.391 2.717 0 1.502-.623 2.718-1.391 2.718h-4.174c-.768 0-1.391-1.217-1.391-2.718Z"
					clip-rule="evenodd"></path>
				<mask
					id="f"
					width="10"
					height="22"
					x="2"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M2.704 0h8.515v21.85H2.704V0Z"></path>
				</mask>
				<g mask="url(#f)">
					<path
						fill="url(#g)"
						fill-rule="evenodd"
						d="M6.955 5.467c-.768 0-1.39 1.216-1.39 2.717v10.87c0 1.501-.624 2.718-1.392 2.718-.768 0-1.391-1.217-1.391-2.717V8.185C2.782 3.681 4.65.03 6.955.03h2.783c.768 0 1.392 1.217 1.392 2.718 0 1.5-.624 2.718-1.392 2.718H6.955Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="h"
					width="9"
					height="22"
					x="36"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M36.132 0h8.425v21.85h-8.425V0Z"></path>
				</mask>
				<g mask="url(#h)">
					<path
						fill="url(#i)"
						fill-rule="evenodd"
						d="M40.347 5.467c-.768 0-1.39 1.216-1.39 2.717v10.87c0 1.501-.624 2.718-1.392 2.718-.768 0-1.392-1.217-1.392-2.717V8.185c0-4.503 1.87-8.154 4.174-8.154h2.783c.768 0 1.391 1.217 1.391 2.718 0 1.5-.623 2.718-1.39 2.718h-2.784Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="j"
					width="9"
					height="22"
					x="19"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M19.464 0h8.425v21.85h-8.425V0Z"></path>
				</mask>
				<g mask="url(#j)">
					<path
						fill="url(#k)"
						fill-rule="evenodd"
						d="M19.481 2.75c0-1.502.623-2.719 1.391-2.719h2.783c2.305 0 4.174 3.65 4.174 8.153v10.87c0 1.501-.623 2.718-1.392 2.718-.768 0-1.39-1.217-1.39-2.717V8.185c0-1.502-.624-2.718-1.392-2.718h-2.783c-.768 0-1.391-1.217-1.391-2.718Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="l"
					width="10"
					height="22"
					x="52"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M52.798 0h8.425v21.85h-8.425V0Z"></path>
				</mask>
				<g mask="url(#l)">
					<path
						fill="url(#m)"
						fill-rule="evenodd"
						d="M52.868 2.748c0-1.502.623-2.719 1.392-2.719h2.782c2.305 0 4.174 3.65 4.174 8.154v10.87c0 1.5-.623 2.717-1.391 2.717-.769 0-1.391-1.217-1.391-2.717V8.183c0-1.502-.623-2.718-1.392-2.718H54.26c-.769 0-1.392-1.217-1.392-2.717Z"
						clip-rule="evenodd"></path>
				</g>
				<path
					fill="url(#n)"
					fill-rule="evenodd"
					d="M15.303 5.465c.77 0 1.392 1.216 1.392 2.717v10.87c0 1.5-.623 2.718-1.392 2.718-.768 0-1.39-1.217-1.39-2.718V8.182c0-1.5.622-2.717 1.39-2.717Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#o)"
					fill-rule="evenodd"
					d="M48.696 5.465c.768 0 1.39 1.216 1.39 2.717v10.87c0 1.5-.622 2.718-1.39 2.718-.769 0-1.392-1.217-1.392-2.718V8.182c0-1.5.623-2.717 1.392-2.717Z"
					clip-rule="evenodd"></path>
				<mask
					id="p"
					width="3"
					height="17"
					x="4"
					y="43"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M4.155 43.434h2.808v16.41H4.155v-16.41Z"></path>
				</mask>
				<g mask="url(#p)">
					<path
						fill="url(#q)"
						fill-rule="evenodd"
						d="M5.563 43.512c.769 0 1.392 1.216 1.392 2.717V57.1c0 1.5-.623 2.718-1.392 2.718-.768 0-1.391-1.217-1.391-2.718V46.23c0-1.5.623-2.717 1.391-2.717Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="r"
					width="4"
					height="17"
					x="56"
					y="43"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M56.966 43.434h2.9v16.41h-2.9v-16.41Z"></path>
				</mask>
				<g mask="url(#r)">
					<path
						fill="url(#s)"
						fill-rule="evenodd"
						d="M58.435 43.512c.768 0 1.392 1.216 1.392 2.717V57.1c0 1.5-.623 2.718-1.392 2.718-.768 0-1.391-1.217-1.391-2.718V46.23c0-1.5.623-2.717 1.391-2.717Z"
						clip-rule="evenodd"></path>
				</g>
				<defs>
					<linearGradient
						id="b"
						x1="32"
						x2="32"
						y1="16.336"
						y2="48.947"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="c"
						x1="43.13"
						x2="43.13"
						y1="29.924"
						y2="35.359"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="d"
						x1="20.87"
						x2="20.87"
						y1="29.924"
						y2="35.359"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="e"
						x1="53.566"
						x2="53.566"
						y1="29.924"
						y2="35.359"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="g"
						x1="6.956"
						x2="6.956"
						y1=".031"
						y2="21.772"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="i"
						x1="40.347"
						x2="40.347"
						y1=".031"
						y2="21.772"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="k"
						x1="23.655"
						x2="23.655"
						y1=".031"
						y2="21.772"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="m"
						x1="57.042"
						x2="57.042"
						y1=".029"
						y2="21.77"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="n"
						x1="15.303"
						x2="15.303"
						y1="5.465"
						y2="21.77"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="o"
						x1="48.696"
						x2="48.696"
						y1="5.465"
						y2="21.77"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="q"
						x1="5.563"
						x2="5.563"
						y1="43.512"
						y2="59.817"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="s"
						x1="58.435"
						x2="58.435"
						y1="43.512"
						y2="59.817"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".875" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card3" viewBox="0 0 64 64">
				<mask
					id="a"
					width="64"
					height="64"
					x="0"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 0h64v64H0V0Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						d="M59.207 32.078c.5 0 .907-.406.907-.907v-2.977h1.336a2.553 2.553 0 0 0 2.55-2.55v-3.2a2.553 2.553 0 0 0-2.55-2.55h-4.365L32.907 9.415V7.54h8.16c.502 0 .908-.406.908-.907V.907A.907.907 0 0 0 41.068 0H32a.905.905 0 0 0-.907.907v8.509L6.915 19.893H2.55A2.553 2.553 0 0 0 0 22.443v3.201a2.553 2.553 0 0 0 2.55 2.55h1.337v2.977c0 .501.406.907.907.907h1.212v19.694H4.794c-.5 0-.907.405-.907.906v2.977H2.803A2.806 2.806 0 0 0 0 58.458v2.74A2.806 2.806 0 0 0 2.803 64h58.394A2.806 2.806 0 0 0 64 61.197v-2.739a2.806 2.806 0 0 0-2.803-2.803h-1.084v-2.977a.907.907 0 0 0-.906-.906h-1.212V32.078h1.212Zm-.907-1.814h-7.325v-2.07H58.3v2.07Zm-8.232 21.508c-.5 0-.907.405-.907.906v2.977h-4.139v-2.977a.907.907 0 0 0-.907-.906h-1.212V32.078h1.212a.907.907 0 0 0 .907-.907v-2.977h4.14v2.977c0 .501.406.907.906.907h1.212v19.694h-1.212Zm-36.136 0H12.72V32.078h1.212c.5 0 .907-.406.907-.907v-2.977h4.14v2.977c0 .501.405.907.906.907h1.213v19.694h-1.213c-.5 0-.907.405-.907.906v2.977H14.84v-2.977a.907.907 0 0 0-.907-.906Zm8.98 0V32.078h3.085v19.694h-3.086Zm-2.12-21.508v-2.07h7.325v2.07h-7.325Zm0 23.321h7.325v2.07h-7.325v-2.07Zm8.231-1.813h-1.212V32.078h1.212c.501 0 .907-.406.907-.907v-2.977h4.14v2.977c0 .501.406.907.907.907h1.212v19.694h-1.212a.907.907 0 0 0-.907.906v2.977h-4.14v-2.977a.906.906 0 0 0-.907-.906Zm8.98 0V32.078h3.086v19.694h-3.086Zm-2.12-21.508v-2.07h7.325v2.07h-7.324Zm0 23.321h7.325v2.07h-7.324v-2.07Zm-2.976-51.77h7.254v3.91h-7.254v-3.91ZM32 10.998l20.524 8.894H11.477L32 11ZM1.814 25.645v-3.2c0-.407.33-.737.736-.737h58.9c.406 0 .736.33.736.736v3.201c0 .406-.33.736-.736.736H2.55a.737.737 0 0 1-.736-.736Zm3.887 2.55h7.324v2.07H5.7v-2.07Zm2.119 3.884h3.086v19.694H7.82V32.078ZM5.7 53.585h7.325v2.07H5.7v-2.07Zm56.486 4.873v2.74a.99.99 0 0 1-.989.988H2.803a.99.99 0 0 1-.989-.989v-2.739a.99.99 0 0 1 .989-.989h58.394a.99.99 0 0 1 .99.99ZM58.3 55.655h-7.325v-2.07H58.3v2.07Zm-2.12-3.883h-3.086V32.078h3.087v19.694Z"
					></path>
				</g>
				<defs>
					<linearGradient
						id="b"
						x1="32"
						x2="32"
						y1="0"
						y2="64"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".5" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card4" viewBox="0 0 77 74">
				<mask
					id="a"
					width="52"
					height="74"
					x="16"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M16.078 0h51.594v73.34H16.078V0Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						fill-rule="evenodd"
						d="M50.463 73.34a1.363 1.363 0 0 1-1.352-1.218c-.045-.721.496-1.397 1.217-1.487 5.727-.586 10.057-5.41 10.057-11.179V10.728c0-.766.586-1.352 1.352-1.352.722 0 1.353.586 1.353 1.352v48.728c0 7.122-5.366 13.117-12.491 13.883h-.136ZM17.498 60.807a1.356 1.356 0 0 1-1.353-1.352v-8.655c0-.72.587-1.352 1.353-1.352.722 0 1.353.631 1.353 1.352v8.655c0 .721-.631 1.352-1.353 1.352Zm0-36.872a1.328 1.328 0 0 1-1.353-1.353V8.655C16.145 3.877 20.024 0 24.804 0h41.443c.766 0 1.353.586 1.353 1.352 0 .721-.587 1.352-1.353 1.352H24.804a5.946 5.946 0 0 0-5.953 5.95v13.93c0 .766-.631 1.352-1.353 1.352Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="c"
					width="18"
					height="13"
					x="60"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M60.299 0H77v12.164H60.3V0Z"></path>
				</mask>
				<g mask="url(#c)">
					<path
						fill="url(#d)"
						fill-rule="evenodd"
						d="M75.627 12.08h-13.89a1.356 1.356 0 0 1-1.352-1.352V6.04A6.042 6.042 0 0 1 66.428 0h4.509a6.042 6.042 0 0 1 6.043 6.04v4.688c0 .721-.631 1.352-1.353 1.352ZM63.09 9.376h11.184V6.04c0-1.848-1.533-3.336-3.337-3.336h-4.51A3.329 3.329 0 0 0 63.09 6.04v3.336Z"
						clip-rule="evenodd"></path>
				</g>
				<mask
					id="e"
					width="46"
					height="17"
					x="6"
					y="57"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M6.864 57.984h45.084V73.43H6.864V57.984Z"></path>
				</mask>
				<g mask="url(#e)">
					<path
						fill="url(#f)"
						fill-rule="evenodd"
						d="M50.556 73.43H20.883c-7.712 0-13.98-6.266-13.98-13.974 0-.766.586-1.353 1.353-1.353h42.3c.541 0 .992.316 1.218.812a1.309 1.309 0 0 1-.226 1.442c-3.382 3.742-3.428 7.122-.135 10.683.316.226.496.632.496 1.037 0 .722-.587 1.353-1.353 1.353ZM9.699 60.808c.677 5.59 5.412 9.917 11.184 9.917H47.76c-2.03-3.246-1.984-6.626.045-9.916H9.7Z"
						clip-rule="evenodd"></path>
				</g>
				<path
					fill="url(#g)"
					fill-rule="evenodd"
					d="M15.603 52.288C6.99 52.288 0 45.301 0 36.692 0 28.127 6.99 21.14 15.603 21.14c8.568 0 15.558 6.986 15.558 15.55 0 8.61-6.99 15.597-15.558 15.597Zm0-28.443c-7.125 0-12.897 5.77-12.897 12.847 0 7.122 5.772 12.892 12.897 12.892 7.08 0 12.852-5.77 12.852-12.892 0-7.077-5.772-12.847-12.852-12.847Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#h)"
					fill-rule="evenodd"
					d="M12.898 42.507c-.316 0-.677-.136-.947-.406l-3.473-3.516c-.541-.496-.541-1.353 0-1.893.496-.541 1.353-.541 1.894 0l2.526 2.524 7.936-7.888c.497-.541 1.353-.541 1.895 0 .54.54.54 1.397 0 1.893l-8.885 8.88c-.225.27-.586.406-.946.406Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#i)"
					fill-rule="evenodd"
					d="M53.303 11.9H30.44a1.357 1.357 0 0 1-1.353-1.353c0-.765.586-1.352 1.353-1.352h22.863c.722 0 1.353.587 1.353 1.352 0 .722-.631 1.353-1.353 1.353Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#j)"
					fill-rule="evenodd"
					d="M53.303 19.834H30.44a1.356 1.356 0 0 1-1.353-1.353c0-.766.586-1.352 1.353-1.352h22.863c.722 0 1.353.586 1.353 1.352 0 .721-.631 1.353-1.353 1.353Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#k)"
					fill-rule="evenodd"
					d="M53.304 27.767H37.43a1.357 1.357 0 0 1-1.353-1.352c0-.721.632-1.352 1.353-1.352h15.874c.722 0 1.353.63 1.353 1.352 0 .766-.631 1.352-1.353 1.352Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#l)"
					fill-rule="evenodd"
					d="M53.304 35.745H37.43c-.721 0-1.353-.63-1.353-1.352 0-.766.632-1.352 1.353-1.352h15.874c.722 0 1.353.586 1.353 1.352 0 .721-.631 1.352-1.353 1.352Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#m)"
					fill-rule="evenodd"
					d="M53.304 43.68H37.43c-.721 0-1.353-.632-1.353-1.353 0-.767.632-1.352 1.353-1.352h15.874c.722 0 1.353.585 1.353 1.352 0 .721-.631 1.352-1.353 1.352Z"
					clip-rule="evenodd"></path>
				<path
					fill="url(#n)"
					fill-rule="evenodd"
					d="M53.303 51.613H30.44a1.328 1.328 0 0 1-1.353-1.353c0-.72.586-1.352 1.353-1.352h22.863c.722 0 1.353.631 1.353 1.352 0 .767-.631 1.353-1.353 1.353Z"
					clip-rule="evenodd"></path>
				<defs>
					<linearGradient
						id="b"
						x1="41.873"
						x2="41.873"
						y1="0"
						y2="73.339"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="d"
						x1="68.682"
						x2="68.682"
						y1="0"
						y2="12.08"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="f"
						x1="29.406"
						x2="29.406"
						y1="58.103"
						y2="73.43"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="g"
						x1="15.581"
						x2="15.581"
						y1="21.141"
						y2="52.288"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="h"
						x1="15.603"
						x2="15.603"
						y1="30.922"
						y2="42.507"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="i"
						x1="41.871"
						x2="41.871"
						y1="9.195"
						y2="11.9"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="j"
						x1="41.871"
						x2="41.871"
						y1="17.129"
						y2="19.834"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="k"
						x1="45.367"
						x2="45.367"
						y1="25.063"
						y2="27.767"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="l"
						x1="45.367"
						x2="45.367"
						y1="33.041"
						y2="35.745"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="m"
						x1="45.367"
						x2="45.367"
						y1="40.975"
						y2="43.679"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="n"
						x1="41.871"
						x2="41.871"
						y1="48.908"
						y2="51.613"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".625" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card5" viewBox="0 0 50 56">
				<mask
					id="a"
					width="50"
					height="56"
					x="0"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 0h49.033v56H0V0Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						d="m21.916 29.4 9.379-9.371a1.095 1.095 0 0 1 1.548 1.547L22.594 31.817a1.096 1.096 0 0 1-1.633-.096l-4.845-6.128a1.094 1.094 0 1 1 1.718-1.356l4.082 5.164Zm2.606-18.437c8.255 0 14.97 6.71 14.97 14.96 0 8.249-6.715 14.96-14.97 14.96s-14.97-6.711-14.97-14.96c0-8.25 6.715-14.96 14.97-14.96Zm0 2.187c-7.048 0-12.781 5.73-12.781 12.773 0 7.043 5.733 12.772 12.78 12.772 7.049 0 12.782-5.73 12.782-12.772 0-7.043-5.733-12.773-12.781-12.773Zm24.492-5.609V27.97c0 3.297-.794 6.617-2.357 9.866-1.401 2.913-3.385 5.705-5.897 8.3-4.543 4.695-10.508 8.368-15.955 9.826a1.085 1.085 0 0 1-.566 0c-5.448-1.458-11.412-5.131-15.955-9.826-2.512-2.595-4.496-5.387-5.897-8.3C.823 34.586.03 31.266.03 27.97V7.541c0-.57.439-1.044 1.008-1.09C7.766 5.916 13.449 2.758 17.03.203c.186-.132.409-.203.636-.203h13.71c.227 0 .45.07.635.203 3.582 2.555 9.265 5.713 15.994 6.248.569.046 1.008.52 1.008 1.09Zm-2.19.992c-5.304-.619-10.737-2.8-15.796-6.345H18.016C12.956 5.733 7.524 7.913 2.219 8.532V27.97c0 12.64 13.084 23.191 22.303 25.802C33.74 51.16 46.825 40.609 46.825 27.97V8.533Z"
					></path>
				</g>
				<defs>
					<linearGradient
						id="b"
						x1="24.522"
						x2="24.522"
						y1="0"
						y2="56"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".565" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card6" viewBox="0 0 53 64">
				<path
					fill="url(#a)"
					d="M22.973 35.46c-6.07 0-11.007-4.934-11.007-11 0-6.065 4.938-11 11.007-11 6.07 0 11.007 4.935 11.007 11 0 6.066-4.937 11-11.007 11Zm0-20c-4.966 0-9.006 4.038-9.006 9 0 4.963 4.04 9 9.006 9s9.006-4.037 9.006-9c0-4.962-4.04-9-9.006-9Z"
				></path>
				<path
					fill="url(#b)"
					d="M22.973 29.46H20.97a1 1 0 1 1 0-2h2.002c.551 0 1-.448 1-1 0-.55-.449-1-1-1a3.004 3.004 0 0 1-3.002-3c0-1.653 1.346-3 3.002-3h2.001a1 1 0 1 1 0 2h-2.001c-.552 0-1.001.45-1.001 1 0 .552.449 1 1 1a3.004 3.004 0 0 1 3.002 3c0 1.655-1.346 3-3.001 3Z"
				></path>
				<path
					fill="url(#c)"
					d="M22.973 21.46a1 1 0 0 1-1.001-1v-2a1 1 0 0 1 2 0v2a1 1 0 0 1-1 1Z"
				></path>
				<path
					fill="url(#d)"
					d="M22.973 31.46a1 1 0 0 1-1.001-1v-2a1 1 0 0 1 2 0v2a1 1 0 0 1-1 1Z"
				></path>
				<mask
					id="e"
					width="50"
					height="64"
					x="0"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 0h49.035v64H0V0Z"></path>
				</mask>
				<g mask="url(#e)">
					<path
						fill="url(#f)"
						d="M48.032 64H9.756C4.376 64 0 59.626 0 54.25V1a1 1 0 0 1 1-1h44.03a1 1 0 0 1 1 1v58a1 1 0 0 1-2 0V2H2.001v52.25c0 4.273 3.479 7.75 7.754 7.75h38.276a1 1 0 1 1 0 2Z"
					></path>
				</g>
				<mask
					id="g"
					width="10"
					height="27"
					x="43"
					y="37"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M43.997 37.92h8.038V64h-8.038V37.92Z"></path>
				</mask>
				<g mask="url(#g)">
					<path
						fill="url(#h)"
						d="M48.034 64a4.006 4.006 0 0 1-4.003-4V39a1 1 0 0 1 1.001-1h6.004a1 1 0 0 1 1 1v21c0 2.205-1.795 4-4.002 4Zm-2.001-24v20c0 1.102.898 2 2.001 2a2.003 2.003 0 0 0 2.001-2V40h-4.002Z"
					></path>
				</g>
				<path
					fill="url(#i)"
					d="M9.006 58H5.003a1 1 0 0 1-1-1V41a1 1 0 0 1 .553-.894l4.002-2a1 1 0 0 1 1.449.894v18a1 1 0 0 1-1 1Zm-3.002-2h2.001V40.618l-2 1V56Z"
				></path>
				<path
					fill="url(#j)"
					d="M17.011 58h-4.003a1 1 0 0 1-1-1V45a1 1 0 0 1 .553-.895l4.002-2a1.002 1.002 0 0 1 1.449.895v14a1 1 0 0 1-1 1Zm-3.002-2h2.001V44.618l-2.001 1V56Z"
				></path>
				<path
					fill="url(#k)"
					d="M25.017 58h-4.003a1 1 0 0 1-1-1V41a1 1 0 0 1 .553-.894l4.002-2a1 1 0 0 1 1.448.894v18a1 1 0 0 1-1 1Zm-3.002-2h2.001V40.618l-2.001 1V56Z"
				></path>
				<path
					fill="url(#l)"
					d="M33.022 58h-4.003a1 1 0 0 1-1-1V41a1 1 0 0 1 .553-.894l4.002-2a1 1 0 0 1 1.448.894v18a1 1 0 0 1-1 1Zm-3.002-2h2.001V40.618l-2.001 1V56Z"
				></path>
				<path
					fill="url(#m)"
					d="M41.028 58h-4.003a1 1 0 0 1-1-1V41a1 1 0 0 1 .553-.894l4.002-2a1 1 0 0 1 1.448.894v18a1 1 0 0 1-1 1Zm-3.002-2h2V40.618l-2 1V56Z"
				></path>
				<path
					fill="url(#n)"
					d="M41.028 58H5.003a1 1 0 1 1 0-2h36.025a1 1 0 1 1 0 2Z"></path>
				<path
					fill="url(#o)"
					d="M4.003 38a1 1 0 0 1-.317-1.948l1.908-.636-.485-.969a.999.999 0 0 1 .524-1.375l5.003-2a1 1 0 0 1 .743 1.857l-3.994 1.596.515 1.028a1.001 1.001 0 0 1-.579 1.396l-3.002 1a1.006 1.006 0 0 1-.316.051Z"
				></path>
				<path
					fill="url(#p)"
					d="M34.023 19a1 1 0 0 1-.556-1.832l2.367-1.576-.76-2.276a1 1 0 0 1 .395-1.148l6.004-4a1 1 0 0 1 1.11 1.664l-5.369 3.576.76 2.276a1 1 0 0 1-.395 1.148l-3.002 2a.997.997 0 0 1-.554.168Z"
				></path>
				<path
					fill="url(#q)"
					d="M41.028 14a1 1 0 0 1-.971-1.243l.757-3.03-3.032-.757a1 1 0 1 1 .486-1.94l4.003 1a1 1 0 0 1 .727 1.213l-1 4a1.001 1.001 0 0 1-.97.757Z"
				></path>
				<path
					fill="url(#r)"
					d="M32.021 6H4.003a1 1 0 1 1 0-2H32.02a1 1 0 1 1 0 2Z"></path>
				<path
					fill="url(#s)"
					d="M32.021 11H4.003a1 1 0 1 1 0-2H32.02a1 1 0 1 1 0 2Z"></path>
				<defs>
					<linearGradient
						id="a"
						x1="22.973"
						x2="22.973"
						y1="13.461"
						y2="35.461"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="b"
						x1="22.973"
						x2="22.973"
						y1="19.461"
						y2="29.461"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="c"
						x1="22.972"
						x2="22.972"
						y1="17.461"
						y2="21.461"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="d"
						x1="22.972"
						x2="22.972"
						y1="27.461"
						y2="31.461"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="f"
						x1="24.516"
						x2="24.516"
						y1="0"
						y2="64"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="h"
						x1="48.034"
						x2="48.034"
						y1="38"
						y2="64"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="i"
						x1="7.005"
						x2="7.005"
						y1="38"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="j"
						x1="15.01"
						x2="15.01"
						y1="42"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="k"
						x1="23.015"
						x2="23.015"
						y1="38"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="l"
						x1="31.02"
						x2="31.02"
						y1="38"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="m"
						x1="39.026"
						x2="39.026"
						y1="38"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="n"
						x1="23.015"
						x2="23.015"
						y1="56"
						y2="58"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="o"
						x1="7.505"
						x2="7.505"
						y1="31"
						y2="38"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="p"
						x1="38.025"
						x2="38.025"
						y1="8"
						y2="19"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="q"
						x1="40.027"
						x2="40.027"
						y1="7"
						y2="14"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="r"
						x1="18.012"
						x2="18.012"
						y1="4"
						y2="6"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="s"
						x1="18.012"
						x2="18.012"
						y1="9"
						y2="11"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".56" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card7" viewBox="0 0 64 64">
				<mask
					id="a"
					width="64"
					height="64"
					x="0"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 0h64v64H0V0Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						fill-rule="evenodd"
						d="M46.505 28.494H17.377c-1.314 0-1.314-1.994 0-1.994h29.128c1.314 0 1.314 1.994 0 1.994Zm-37.5 20.373a.993.993 0 0 1-.87-.502L5.506 43.73c-.65-1.121 1.078-2.126 1.742-.974l1.978 3.47 8.829-8.932c.93-.945 2.332.472 1.417 1.388L9.73 48.557a.974.974 0 0 1-.723.31Zm49.74 10.26h-8.121a1.015 1.015 0 0 1-1.004-1.003v-8.755c0-.546.458-.989 1.004-.989h8.12a.992.992 0 0 1 1.004.99v8.754c0 .546-.443 1.004-1.004 1.004Zm-7.117-2.007h6.127v-6.747h-6.127v6.747Zm1.993-.87c-.797 0-1.107-.887-1.727-1.831-.709-1.122 1.004-2.186 1.698-1.064l.192.325 2.244-2.244c.93-.93 2.333.487 1.402 1.417l-3.115 3.116a.983.983 0 0 1-.694.28Zm5.123-12.373h-8.12a1.015 1.015 0 0 1-1.004-1.004V34.12c0-.547.458-.99 1.004-.99h8.12a.992.992 0 0 1 1.004.99v8.754c0 .546-.443 1.004-1.004 1.004Zm-7.116-2.008h6.127v-4.695c-.044.178-.133.37-.295.532l-3.13 3.115c-1.137 1.152-2.037-1.004-2.436-1.698-.664-1.122 1.048-2.14 1.713-1.004l.236.385 2.2-2.215c.664-.665 1.58-.133 1.712.56v-1.726h-6.127v6.746Zm7.116-13.124h-8.12a1.002 1.002 0 0 1-1.004-.99v-8.754c0-.547.458-1.004 1.004-1.004h8.12c.561 0 1.004.457 1.004 1.004v8.754c0 .547-.443.99-1.004.99Zm-7.116-1.993h6.127v-6.747h-6.127v6.747Zm1.993-.871c-.797 0-1.107-.901-1.727-1.846-.709-1.107 1.004-2.185 1.698-1.063l.192.325 2.244-2.23c.93-.93 2.333.473 1.402 1.403l-3.115 3.13a.983.983 0 0 1-.694.28Zm-7.116 31.992H17.377c-1.314 0-1.314-1.993 0-1.993h29.128c1.314 0 1.314 1.993 0 1.993Zm0-7.367H26.5c-1.314 0-1.314-2.008 0-2.008h20.005c1.314 0 1.314 2.008 0 2.008Zm0-7.264h-18.38c-1.314 0-1.314-1.993 0-1.993h18.38c1.314 0 1.314 1.993 0 1.993Zm0-7.366H26.5c-1.314 0-1.314-2.009 0-2.009h20.005c1.314 0 1.314 2.009 0 2.009Zm0-14.75H17.377c-1.314 0-1.314-2.007 0-2.007h29.128c1.314 0 1.314 2.008 0 2.008Zm8.858-6.052H32.745a.993.993 0 0 1-.989-1.004V6.629c0-.561.443-1.004.99-1.004h22.617c.547 0 1.004.443 1.004 1.004v7.44a.996.996 0 0 1-1.004 1.005ZM33.75 13.08h20.61V7.618H33.75v5.463ZM11.619 55.45C5.152 54.95 0 49.473 0 42.874c0-7.086 5.566-11.914 11.619-12.445V14.35c-.015-.28.059-.56.295-.797C13.258 12.18 24.817.413 25.216.148L25.748 0h37.248C63.542 0 64 .443 64 1.004v61.992c0 .546-.458 1.004-1.004 1.004H12.623a1.015 1.015 0 0 1-1.004-1.004v-7.544Zm2.008-25.038c6.496.457 11.5 5.964 11.5 12.46 0 6.6-4.886 11.974-11.485 12.594h-.015v6.525h48.365V1.993h-35.24v12.254c0 .56-.458 1.004-1.004 1.004H13.627v15.162Zm-1.004 1.963c-5.861 0-10.63 4.71-10.63 10.497 0 5.861 4.769 10.63 10.63 10.63 6.26 0 10.6-5.315 10.497-10.895-.118-5.714-4.828-10.232-10.497-10.232Zm12.12-28.95-9.714 9.817h9.715V3.425Z"
						clip-rule="evenodd"></path>
				</g>
				<defs>
					<linearGradient
						id="b"
						x1="32"
						x2="32"
						y1="0"
						y2="64"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".705" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card8" viewBox="0 0 60 64">
				<mask
					id="a"
					width="60"
					height="64"
					x="0"
					y="0"
					maskUnits="userSpaceOnUse"
					style="mask-type: luminance"
				>
					<path fill="#fff" d="M0 0h59.63v64H0V0Z"></path>
				</mask>
				<g mask="url(#a)">
					<path
						fill="url(#b)"
						d="M2.13 22.441c0-3.813 2.067-7.353 5.395-9.237l17.037-9.64a10.661 10.661 0 0 1 10.507.004l17.036 9.636A10.637 10.637 0 0 1 57.5 22.44v19.107c0 3.814-2.067 7.353-5.395 9.237l-17.037 9.637c-3.194 1.809-7.308 1.809-10.506 0L7.525 50.785a10.638 10.638 0 0 1-5.395-9.237V22.44ZM6.476 52.64l17.038 9.636a12.815 12.815 0 0 0 6.301 1.66c2.204 0 4.384-.574 6.301-1.66l17.038-9.636a12.778 12.778 0 0 0 6.476-11.092V22.44c0-4.579-2.483-8.83-6.476-11.088l-17.038-9.64c-3.834-2.172-8.768-2.172-12.602 0l-17.038 9.64A12.766 12.766 0 0 0 0 22.441v19.107c0 4.58 2.483 8.83 6.476 11.092Z"
					></path>
				</g>
				<path
					fill="url(#c)"
					d="M7.486 22.417c0-1.9 1.032-3.664 2.691-4.604l17.037-9.637a5.32 5.32 0 0 1 2.633-.69c.911 0 1.822.229 2.633.69l17.037 9.637a5.303 5.303 0 0 1 2.691 4.604v19.107c0 1.9-1.031 3.664-2.69 4.604l-17.038 9.64a5.393 5.393 0 0 1-5.266 0l-17.037-9.64a5.303 5.303 0 0 1-2.691-4.604V22.417Zm1.643 25.561 17.037 9.641a7.454 7.454 0 0 0 3.681.965c1.273 0 2.546-.32 3.681-.965l17.037-9.64a7.424 7.424 0 0 0 3.773-6.455V22.417a7.424 7.424 0 0 0-3.773-6.455l-17.037-9.64a7.51 7.51 0 0 0-7.362 0L9.13 15.961a7.433 7.433 0 0 0-3.773 6.455v19.107a7.433 7.433 0 0 0 3.773 6.454Z"
				></path>
				<path
					fill="url(#d)"
					d="M12.81 41.552c.586 0 1.065-.478 1.065-1.065V27.96l6.501 13.005a1.065 1.065 0 0 0 2.017-.478V23.45c0-.586-.478-1.064-1.065-1.064-.586 0-1.064.478-1.064 1.064v12.527l-6.501-13.005a1.068 1.068 0 0 0-1.198-.557c-.479.112-.82.54-.82 1.035v17.036c0 .587.479 1.065 1.065 1.065Z"
				></path>
				<path
					fill="url(#e)"
					d="M26.654 41.552c.586 0 1.064-.478 1.064-1.065v-7.453h4.26c.586 0 1.065-.478 1.065-1.065 0-.586-.479-1.064-1.065-1.064h-4.26v-6.389h7.454c.587 0 1.065-.478 1.065-1.065 0-.586-.479-1.064-1.065-1.064h-8.518c-.587 0-1.065.478-1.065 1.064v17.036c0 .587.478 1.065 1.065 1.065Z"
				></path>
				<path
					fill="url(#f)"
					d="M38.367 24.516h3.194v15.97c0 .588.478 1.066 1.065 1.066.586 0 1.065-.478 1.065-1.065v-15.97h3.194c.587 0 1.065-.479 1.065-1.066 0-.586-.478-1.064-1.065-1.064h-8.518c-.587 0-1.065.478-1.065 1.064 0 .587.478 1.065 1.065 1.065Z"
				></path>
				<defs>
					<linearGradient
						id="b"
						x1="29.815"
						x2="29.815"
						y1=".084"
						y2="63.936"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".635" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="c"
						x1="29.847"
						x2="29.847"
						y1="5.357"
						y2="58.584"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".635" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="d"
						x1="17.069"
						x2="17.069"
						y1="22.387"
						y2="41.552"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".635" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="e"
						x1="30.913"
						x2="30.913"
						y1="22.387"
						y2="41.552"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".635" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="f"
						x1="42.626"
						x2="42.626"
						y1="22.387"
						y2="41.552"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset=".635" stop-color="#F3A4A3"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card9" viewBox="0 0 72 72">
				<path
					d="M14.5723 15.2656L57.7151 56.4496"
					stroke="url(#paint0_linear_593_2343)"
					stroke-linecap="round"></path>
				<path
					d="M36.2852 6.05078V65.6668"
					stroke="url(#paint1_linear_593_2343)"
					stroke-linecap="round"></path>
				<path
					d="M57.858 15.123L14.5723 56.451"
					stroke="url(#paint2_linear_593_2343)"
					stroke-linecap="round"></path>
				<path
					d="M6 36.002H66.2857"
					stroke="url(#paint3_linear_593_2343)"
					stroke-linecap="round"></path>
				<mask
					id="mask0_593_2343"
					style="mask-type:alpha"
					maskUnits="userSpaceOnUse"
					x="0"
					y="0"
					width="72"
					height="72"
				>
					<path
						d="M42.2857 6.192C42.2857 9.61175 39.5355 12.384 36.1429 12.384C32.7503 12.384 30 9.61175 30 6.192C30 2.77225 32.7503 0 36.1429 0C39.5355 0 42.2857 2.77225 42.2857 6.192Z"
						fill="#D9D9D9"></path>
					<path
						d="M63.7143 15.408C63.7143 18.8277 60.964 21.6 57.5714 21.6C54.1788 21.6 51.4286 18.8277 51.4286 15.408C51.4286 11.9883 54.1788 9.216 57.5714 9.216C60.964 9.216 63.7143 11.9883 63.7143 15.408Z"
						fill="#D9D9D9"></path>
					<path
						d="M72 36.144C72 39.5637 69.2498 42.336 65.8571 42.336C62.4645 42.336 59.7143 39.5637 59.7143 36.144C59.7143 32.7243 62.4645 29.952 65.8571 29.952C69.2498 29.952 72 32.7243 72 36.144Z"
						fill="#D9D9D9"></path>
					<path
						d="M12.2857 36.144C12.2857 39.5637 9.53546 42.336 6.14286 42.336C2.75025 42.336 0 39.5637 0 36.144C0 32.7243 2.75025 29.952 6.14286 29.952C9.53546 29.952 12.2857 32.7243 12.2857 36.144Z"
						fill="#D9D9D9"></path>
					<path
						d="M42.2857 65.808C42.2857 69.2277 39.5355 72 36.1429 72C32.7503 72 30 69.2277 30 65.808C30 62.3882 32.7503 59.616 36.1429 59.616C39.5355 59.616 42.2857 62.3882 42.2857 65.808Z"
						fill="#D9D9D9"></path>
					<path
						d="M20.5714 56.592C20.5714 60.0117 17.8212 62.784 14.4286 62.784C11.036 62.784 8.28572 60.0117 8.28572 56.592C8.28572 53.1722 11.036 50.4 14.4286 50.4C17.8212 50.4 20.5714 53.1722 20.5714 56.592Z"
						fill="#D9D9D9"></path>
					<path
						d="M20.5714 15.408C20.5714 18.8277 17.8212 21.6 14.4286 21.6C11.036 21.6 8.28572 18.8277 8.28572 15.408C8.28572 11.9883 11.036 9.216 14.4286 9.216C17.8212 9.216 20.5714 11.9883 20.5714 15.408Z"
						fill="#D9D9D9"></path>
					<path
						d="M63.7143 56.592C63.7143 60.0117 60.964 62.784 57.5714 62.784C54.1788 62.784 51.4286 60.0117 51.4286 56.592C51.4286 53.1722 54.1788 50.4 57.5714 50.4C60.964 50.4 63.7143 53.1722 63.7143 56.592Z"
						fill="#D9D9D9"></path>
					<path
						d="M42 36.144C42 39.5637 39.2498 42.336 35.8571 42.336C32.4645 42.336 29.7143 39.5637 29.7143 36.144C29.7143 32.7243 32.4645 29.952 35.8571 29.952C39.2498 29.952 42 32.7243 42 36.144Z"
						fill="#D9D9D9"></path>
				</mask>
				<g mask="url(#mask0_593_2343)">
					<rect
						width="80.0865"
						height="84.5818"
						rx="8"
						transform="matrix(0.929232 0.369497 -0.364437 0.931228 14.2539 -17.8555)"
						fill="url(#paint4_linear_593_2343)"></rect>
				</g>
				<defs>
					<linearGradient
						id="paint0_linear_593_2343"
						x1="36.1437"
						y1="15.2656"
						x2="36.1437"
						y2="56.4496"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87" stop-opacity="0.2"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="paint1_linear_593_2343"
						x1="36.7852"
						y1="6.05078"
						x2="36.7852"
						y2="65.6668"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87" stop-opacity="0.2"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="paint2_linear_593_2343"
						x1="36.2151"
						y1="15.123"
						x2="36.2151"
						y2="56.451"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87" stop-opacity="0.2"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="paint3_linear_593_2343"
						x1="36.1429"
						y1="36.002"
						x2="36.1429"
						y2="37.002"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87" stop-opacity="0.2"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="paint4_linear_593_2343"
						x1="0"
						y1="42.2909"
						x2="80.0865"
						y2="42.2909"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset="0.785" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>

			<symbol id="card10" viewBox="0 0 73 72">
				<path
					d="M13.7974 55.8169L13.7319 55.9673C9.08057 50.6788 6.25977 43.7411 6.25977 36.1447C6.25977 19.8386 19.2569 6.56814 35.4567 6.12793L13.7974 55.8169ZM15.0192 55.5167L36.2847 6.73088L57.2724 55.5167H15.0192ZM58.4911 55.8191L37.1139 6.1278C53.316 6.56545 66.3158 19.8369 66.3158 36.1447C66.3158 43.8465 63.4162 50.8711 58.6491 56.1864L58.4911 55.8191ZM58.3484 56.5167C52.8624 62.4544 45.0093 66.1727 36.2878 66.1727C27.5662 66.1727 19.7131 62.4544 14.2271 56.5167H14.2558H58.0318H58.3484Z"
					stroke="url(#paint0_linear_593_2357)"
					stroke-opacity="0.2"
					stroke-linecap="round"></path>
				<mask
					id="mask0_593_2357"
					style="mask-type:alpha"
					maskUnits="userSpaceOnUse"
					x="0"
					y="0"
					width="73"
					height="72"
				>
					<path
						d="M42.624 6.192C42.624 9.61175 39.8517 12.384 36.432 12.384C33.0123 12.384 30.24 9.61175 30.24 6.192C30.24 2.77225 33.0123 0 36.432 0C39.8517 0 42.624 2.77225 42.624 6.192Z"
						fill="#D9D9D9"></path>
					<path
						d="M64.224 15.408C64.224 18.8277 61.4517 21.6 58.032 21.6C54.6123 21.6 51.84 18.8277 51.84 15.408C51.84 11.9883 54.6123 9.216 58.032 9.216C61.4517 9.216 64.224 11.9883 64.224 15.408Z"
						fill="#D9D9D9"></path>
					<path
						d="M72.576 36.144C72.576 39.5637 69.8037 42.336 66.384 42.336C62.9642 42.336 60.192 39.5637 60.192 36.144C60.192 32.7243 62.9642 29.952 66.384 29.952C69.8037 29.952 72.576 32.7243 72.576 36.144Z"
						fill="#D9D9D9"></path>
					<path
						d="M12.384 36.144C12.384 39.5637 9.61175 42.336 6.192 42.336C2.77225 42.336 0 39.5637 0 36.144C0 32.7243 2.77225 29.952 6.192 29.952C9.61175 29.952 12.384 32.7243 12.384 36.144Z"
						fill="#D9D9D9"></path>
					<path
						d="M42.624 65.808C42.624 69.2277 39.8517 72 36.432 72C33.0123 72 30.24 69.2277 30.24 65.808C30.24 62.3882 33.0123 59.616 36.432 59.616C39.8517 59.616 42.624 62.3882 42.624 65.808Z"
						fill="#D9D9D9"></path>
					<path
						d="M20.736 56.592C20.736 60.0117 17.9637 62.784 14.544 62.784C11.1243 62.784 8.352 60.0117 8.352 56.592C8.352 53.1722 11.1243 50.4 14.544 50.4C17.9637 50.4 20.736 53.1722 20.736 56.592Z"
						fill="#D9D9D9"></path>
					<path
						d="M20.736 15.408C20.736 18.8277 17.9637 21.6 14.544 21.6C11.1243 21.6 8.352 18.8277 8.352 15.408C8.352 11.9883 11.1243 9.216 14.544 9.216C17.9637 9.216 20.736 11.9883 20.736 15.408Z"
						fill="#D9D9D9"></path>
					<path
						d="M64.224 56.592C64.224 60.0117 61.4517 62.784 58.032 62.784C54.6123 62.784 51.84 60.0117 51.84 56.592C51.84 53.1722 54.6123 50.4 58.032 50.4C61.4517 50.4 64.224 53.1722 64.224 56.592Z"
						fill="#D9D9D9"></path>
				</mask>
				<g mask="url(#mask0_593_2357)">
					<rect
						x="30.5215"
						y="-20.1641"
						width="78.625"
						height="81.793"
						rx="8"
						transform="rotate(38.179 30.5215 -20.1641)"
						fill="url(#paint1_linear_593_2357)"></rect>
				</g>
				<defs>
					<linearGradient
						id="paint0_linear_593_2357"
						x1="36.2878"
						y1="5.47266"
						x2="36.2878"
						y2="66.6727"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#74FF8E"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
					<linearGradient
						id="paint1_linear_593_2357"
						x1="30.5215"
						y1="20.7325"
						x2="109.147"
						y2="20.7325"
						gradientUnits="userSpaceOnUse"
					>
						<stop stop-color="#6FEE87"></stop>
						<stop offset="0.785" stop-color="#D18989"></stop>
						<stop offset="1" stop-color="#3F884D"></stop>
					</linearGradient>
				</defs>
			</symbol>
		</svg>
		
		<SVGIcons />
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
