body {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 100dvh;
    align-items: start;
    align-content: start;
    background-color: var(--bg-body);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all .28s linear;

    &:focus,
    &:hover {
        color: var(--link-color-active);
    }
}

ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    object-position: center;
}


/* Button */
.button {
    --btn-border-color: transparent;
    --btn-bg-color: var(--primary-color);
    --btn-text-color: var(--black);
    --btn-padding-inline: var(--fs-size-12x);
    --btn-padding-block: var(--fs-size-4x);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999rem;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding-inline: var(--btn-padding-inline);
    padding-block: var(--btn-padding-block);
    font-size: 10px;
    font-weight: 900;
    cursor: pointer;
    transition: all .28s ease-in-out;
    white-space: nowrap;

    &:focus,
    &:hover {
        color: #fff;
    }
}

.button--outline {
    --btn-border-color: var(--primary-color);
    --btn-bg-color: transparent;
    --btn-text-color: var(--primary-color);
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .button {
        font-size: var(--fs-size-4x);
    }
}


/* Section */
.section__container {
    padding-block: var(--fs-size-49x);
    padding-inline: var(--fs-size-22x);
    display: grid;
    gap: var(--fs-size-22x);
    width: 100%;
    max-width: 1228px;
    margin-inline: auto;

    .section--dividers & {
        padding-block: unset;
    }

    .hero & {
        padding-block-start: calc(var(--fs-size-15x) + 66px);
    }
}

.section {
    display: grid;
    /* gap: var(--fs-size-18x); */

    .section__title {
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: var(--font-starcoin);
        font-size: var(--fs-size-14x);
        letter-spacing: .85px;
        text-align: center;
        gap: 8px;

        strong {
            color: var(--primary-color);
        }

        h3 {
            margin-block-start: 0;
        }

        small {
            font-size: var(--fs-size-9x);
            font-weight: 900;
            color: rgb(255 255 255 / .6);
            font-family: var(--font-PlusJakartaSans);
        }
    }
}

/* Page Header */
.page--header {
    --padding-block: calc(var(--size-ratio) * 6);
    /* --padding-inline: calc(var(--size-ratio) * 12); */
    position: fixed;
    left: 0;
    right: 0;
    z-index: var(--layer-important);


    background-color: var(--black-opacity-50);
    backdrop-filter: blur(10px);
    color: var(--white);



    /* 

    .social {
        --size: 32px;
        --gap: 24px;
    }

    .hamburg {} */
}

.header__container {
    width: 100%;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    --width: 78px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        display: block;
    }

    svg {
        width: var(--width);
        aspect-ratio: 374 / 72;
        fill: #fff;
    }
}

.nav--wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: var(--layer-2);
    background-color: var(--black);


    display: none;
    /* 默认为 none */

    .item {
        display: flex;
        align-items: center;
        gap: 32px;
        padding-inline: 24px;
        padding-block: 16px;
    }

    /* 汉堡 icon 点击切换类名 open */

    &.open {
        display: grid;
    }


}

@media only screen and (max-width: 767.98px) {
    .navigation--header {
        .active {
            .icon--arrow-right {
                transform: rotate(90deg);
            }

            +.dropdown__content {
                display: grid;
            }
        }



    }
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .page--header {
        padding-block-end: 48px;

        .hamburg {
            display: none;
        }
    }

    .nav--wrapper {
        display: flex;

        position: unset;
        background-color: unset;
        align-items: center;

        .item {
            padding: unset;
        }

        &.open {
            display: flex;
        }
    }
}


/* width >= 1200px */
@media only screen and (min-width: 1199.98px) {
    .page--header {
        padding-block-end: 0;
    }

    .nav--wrapper {

        /* .social {
            --gap: 16px;
        } */
        .item {
            gap: 16px;
        }
    }
}


/* Header Navigation */
.navigation--header {
    font-family: var(--font-starcoin);
    font-size: 12px;
    overflow-y: scroll;
    max-height: calc(100dvh - 66px);
    overscroll-behavior: contain;
    scroll-behavior: smooth;

    >li {
        border-bottom: 1px solid rgb(111 238 135 / .5);

        &:has(.active) {
            border-bottom: 1px solid rgb(111 238 135);
        }
    }

    .dropdown__toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 24px;
        cursor: pointer;

        &.active {
            border-bottom-color: currentColor;

            >a {
                color: var(--link-color-active);
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        min-height: 48px;
        flex: 1 1 0%;

        color: var(--link-color);
        transition: all .28s linear;
        font-size: 14px;

        &:focus,
        &:hover {
            color: var(--link-color-active);
        }

    }

    .icon--arrow-right {
        display: block;
        aspect-ratio: 1;
        width: 44px;
        fill: currentColor;
        transform-origin: 50% 50%;
        transform-box: fill-box;
        padding: 12px;
        cursor: pointer;
    }

    .dropdown__content {
        display: none;
        /* border-bottom: 1px solid  rgb(111 238 135 / .5); */

        a {
            font-size: 12px;
            border-bottom: none;
            font-family: var(--font-PlusJakartaSans);
            opacity: .7;
            padding-inline: 24px;

            &:hover {
                opacity: 1;
            }
        }
    }

    /* .active {
        .icon--arrow-right {
            transform: rotate(90deg);
        }
        + .dropdown__content {
            display: grid;
        }
    } */


}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {

    .navigation--header {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: unset;
        backdrop-filter: unset;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding-inline: 24px;
        border-bottom: 1px solid rgb(111 238 135 / .5);
        overflow: visible;

        .dropdown {
            min-width: 0;
            position: relative;


            >span {
                padding: unset;
                justify-content: flex-start;
                gap: 0;
                white-space: nowrap;
            }

            svg {
                margin-inline-start: unset;
                transform: rotate(90deg);
                flex-shrink: 0;
            }

            &:hover>.dropdown__content {
                display: grid;
            }
        }

        .dropdown__content {
            position: absolute;
            top: calc(100% - 10px);
            left: -16px;
            z-index: 5;
            background-color: rgb(0 0 0 / .85);
            backdrop-filter: blur(4px);
            padding: 4px;
            border-radius: 8px;

            a {
                white-space: nowrap;
            }

            &::before {
                content: "";
                position: absolute;
                left: 15%;
                bottom: calc(100% - 6px);
                width: 10px;
                aspect-ratio: 1;
                background-color: rgb(0 0 0 / .85);
                border-radius: 2px;
                clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
                transform: rotate(45deg)
            }
        }


        >li {
            border-bottom: none;

            &:has(.active) {
                border-bottom: none;
            }
        }

    }
}

/* width >= 1200px */
@media only screen and (min-width: 1199.98px) {
    .navigation--header {
        position: unset;
        background-color: unset;
        justify-content: flex-start;
        border-bottom: none;
        backdrop-filter: unset;
        gap: 16px;

        .dropdown {
            >a {
                min-height: unset;
            }
        }

        .dropdown__content {
            top: calc(100% + 5px);
        }


    }
}

.hamburg {
    --size: var(--size-ratio);
    --color: var(--primary-color);
    --easing: var(--elastic-out);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--white-opacity-50);
    border-radius: 99rem;
    padding-inline: calc(var(--size) * 10);
    padding-block: calc(var(--size) * 4);
    min-width: calc(var(--size) * 24);
    cursor: pointer;
    background-color: transparent;

    .icon--hamburg {
        --fill-color: var(--color);
        display: block;
        width: 24px;
        aspect-ratio: 1;

        rect {
            transform-box: fill-box;
            transform-origin: 50% 50%;
        }
    }
}

[aria-pressed="true"] {
    svg {
        rotate: 90deg;
        transition: rotate 1s var(--easing) 0.4s;
    }

    rect {
        &:nth-of-type(1) {
            translate: 0 333%;
            rotate: -45deg;
        }

        &:nth-of-type(2) {
            rotate: 45deg;
        }

        &:nth-of-type(3) {
            translate: 0 -333%;
            rotate: 45deg;
        }
    }
}

rect {
    [aria-pressed="false"] & {
        transition: rotate 0.2s 0s, translate 0.2s 0.3s;
    }

    [aria-pressed="true"] & {
        transition: translate 0.2s 0s, rotate 0.2s 0.3s;
    }
}





/* Language */
.dropdown--language {
    --color: rgb(255 255 255 / 0.6);
    --padding-block: 6px;
    --padding-inline: 16px;
    --size: 44px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .dropdown__toggle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid currentColor;
        border-radius: 999rem;
        padding-inline: var(--padding-inline);
        padding-block: var(--padding-block);
        position: relative;
        color: var(--color);
        transition: all 0.2s linear;
        cursor: pointer;
        font-size: 14px;
        background-color: transparent;

        .icon--down {
            display: block;
            width: 24px;
            aspect-ratio: 1;
            fill: currentColor;
            transition: all 0.2s linear;
        }

        &:hover {
            color: var(--white);
        }
    }

    .dropdown__content {
        position: absolute;
        z-index: 3;
        right: 0;
        top: calc(100% + 14px);
        background-color: rgb(0 0 0 / .85);
        border-radius: 6px;
        max-height: calc(var(--size) * var(--options));
        overflow-y: hidden;
        transition: .4s linear .2s;
        height: 0;
        color: var(--color);
        min-width: 220px;
        opacity: 0;

        &.active {
            height: calc(var(--size) * var(--options));
            opacity: 1;
        }
    }

    .option {
        padding: 8px 20px;
        font-weight: 500;
        font-size: 14px;
        transition: .3s ease-in-out;
        height: var(--size);
        cursor: pointer;

        &:hover,
        &.selected {
            color: var(--white);
        }
    }
}




/*Page Footer*/
.page--footer {
    /* --padding-inline: 34px; */
    --padding-block: 34px;

    background-color: var(--black);
    display: flex;
    justify-content: center;
    padding-inline: var(--padding-inline);


    .social {
        place-self: center;
        /* --size: 44px;
        --gap: 24px; */
        opacity: .8;
    }

    p {
        margin: 0;
        place-self: center;
        opacity: .8;
        font-size: 12px;
    }

}

.footer__container {
    width: 100%;
    display: grid;
    align-items: start;
    align-content: start;
    border-top: 1px solid #d9d9d9;
    gap: 28px;
    padding-block: var(--padding-block);
}

.navigation--footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 20px;



    .dropdown {
        display: grid;
        gap: 20px;
        align-items: start;
        align-content: start;
        font-family: var(--font-PlusJakartaSans);
        font-size: 12px;
    }

    .dropdown__content {
        display: grid;
        gap: 8px;
        align-content: start;
        align-items: start;
        opacity: .8;
    }

    .dropdown__toggle {
        font-family: var(--font-starcoin);
        font-size: 14px;
    }
}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .navigation--footer {

        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));

    }
}


/* width >= 1024px*/
@media only screen and (min-width: 1023.98px) {
    .navigation--footer {

        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    }
}




/* Hero Section */
.hero {
    display: grid;

    >* {
        grid-area: 1 / 1 / -1 / -1;
    }

    picture img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* News */
    &.hero--news picture {
        max-height: 410px;
    }
}

.hero__container {
    z-index: 2;
    width: 100%;
    display: grid;
    place-content: center;
    gap: var(--fs-size-7x);
    text-align: center;
    overflow: hidden;

    >* {
        justify-self: center;


    }

    strong {
        color: var(--primary-color);
    }

    p {
        margin: 0;
    }

    .hero__title {
        font-size: var(--fs-size-17x);
        font-family: var(--font-starcoin);
        color: var(--white);
        letter-spacing: .1em;

        margin: 0;

    }

    .hero__content {
        font-family: var(--font-PlusJakartaSans);
        font-size: var(--fs-size-7x);
        letter-spacing: .1em;
        max-width: 1024px;

    }

    .hero__action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--fs-size-8x);
        flex-wrap: wrap;

        /* .button {
            flex: 1 1 0%;
        } */
    }
}

/* Home Hero */

.hero--home {
    .hero__action {
        margin-bottom: var(--fs-size-11x);
    }

    .dividers {
        align-self: end;
    }
}

/* */

/* HomePage */


/* Table */
.card--table {
    border: 1px solid rgb(111 238 135 / 0.5);
    filter: drop-shadow(0px 24px 42px #6FEE87);
    border-radius: 28px;

    padding: 20px;

}

.table--feature {
    background: rgb(255 255 255 / 0.25);
    backdrop-filter: blur(4px);
    border-radius: 8px;

    transition: all .28s linear;
    display: grid;
    gap: 1px;
    align-items: start;
    align-content: start;

    &:hover {
        background-color: rgb(255 255 255 / 0.15);
    }

    .row {
        display: grid;
        grid-template-columns: var(--fs-size-48x) minmax(0, 1fr) minmax(0, 1fr);

        &:not(:first-child) {
            border-bottom: 1px solid #000;
        }
    }

    .row__title {
        background: linear-gradient(90deg, #6FEE87 0%, #D18989 78.5%, #3F884D 100%);
        border-radius: 8px;
        /* min-height: 74px; */
        font-weight: 500;

        .column {
            font-size: var(--fs-size-6x);
        }
    }

    .column {
        display: grid;
        padding: 10px;
        align-items: center;
        align-content: center;
        font-size: var(--fs-size-4x);

        &:not(:last-child) {
            border-right: 1px solid #000;
        }
    }
}

/* Social */
.social {
    --size: var(--fs-size-17x);
    --gap: var(--fs-size-8x);
    display: flex;
    align-items: center;
    gap: var(--gap);
    list-style: none outside none;
    margin: 0;

    a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: var(--size);
        aspect-ratio: 1;
        border-radius: 50%;
        border: 1px solid currentColor;
        color: var(--white);
        background-color: transparent;
        cursor: pointer;
        transition: all .28s ease-in-out;
        padding: calc(var(--fs-size-5x) / 2);

        &:focus,
        &:hover {
            color: var(--black);
            background-color: var(--white);
            border-color: var(--white);
        }
    }

    .icon {
        display: block;
        width: 85%;
        aspect-ratio: 1;
        fill: currentColor;
        transition: all .28s ease-in-out;
    }
}

/* HomePage: StatisticsCard */
.card--statistics {
    display: grid;
    justify-self: unset;
    width: 100%;

    .card__title {
        display: none;
    }

    .card__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 260px), 1fr));
        gap: var(--fs-size-2x) var(--fs-size-5x);
        background: rgb(217 217 217 / 0.15);
        border: 1px solid rgb(255 255 255 / 0.5);
        border-radius: 8px;
        backdrop-filter: blur(5px);
        font-size: 12px;
        color: rgb(255 255 255 / .8);
        font-family: var(--font-PlusJakartaSans);
        padding-inline: var(--fs-size-15x);
        padding-block: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: left;
        /* line-height: 2; */
    }

    dl {
        margin: 0;
    }

    dt {

        display: flex;
        align-items: center;
    }

    dd {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        background: linear-gradient(180deg, #6FEE87 0%, #006C14 100%);
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }
}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .card--statistics {
        .card__content {

            /* grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 260px), 1fr)); */

            dd {
                font-size: 32px;
            }
        }
    }

}


/* width >= 992px*/
@media only screen and (min-width: 991.98px) {
    .card--statistics {
        gap: 28px;
        border-radius: 24px;
        padding-inline: 32px;
        padding-block: 28px;
        border: 1px solid rgb(255 255 255 / 0.5);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 0.25);
        font-size: 18px;
        font-family: var(--font-starcoin);
        justify-self: unset;

        .card__title {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }

    }
}


/* width >= 1200px */
@media only screen and (min-width: 1199.98px) {
    .card--statistics {
        .card__content {
            grid-template-columns: repeat(auto-fit, minmax(min(100% - 10px, 190px), 1fr));
        }

        dt {
            min-height: 48px;
        }
    }
}

/* HomePage: GetStarted */

.section--getstarted {

    .getstarted__container {
        /* display: grid; */
    }

    .section__content {
        position: relative;


        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, #6FEE87 0%, #3F884D 100%);

            opacity: 0.3;
            filter: blur(100px);
            backdrop-filter: blur(5px);
            z-index: -1;
        }



    }

    ul {
        position: relative;
        z-index: 2;
        display: grid;
        gap: var(--fs-size-36x);
        font-family: var(--font-PlusJakartaSans);
        font-size: var(--fs-size-8x);
        color: rgb(255 255 255 / .7);

        h4 {
            display: grid;
            font-size: var(--fs-size-11x);
            gap: var(--fs-size-8x);
            font-family: var(--font-starcoin);
            color: var(--primary-color);
            padding-block-end: 8px;
            border-bottom: 1px solid var(--border-color);
            margin: 0;
        }

        small {
            font-size: var(--fs-size-9x);
            color: #d9d9d9;
            font-family: var(--font-PlusJakartaSans);

        }

        li {
            width: 75%;
            display: grid;
            gap: var(--fs-size-6x);
        }

        li:nth-child(1) {
            /* padding-inline-end: 50px; */
            --border-color: var(--primary-color);
        }

        li:nth-child(2) {
            /* padding-inline-start: 120px; */
            margin-inline-start: auto;
            text-align: right;
            --border-color: #D18989;
        }

        li:nth-child(3) {
            /* padding-inline-end: 50px; */
            --border-color: #F7EF27;
        }
    }
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--getstarted {
        ul {

            li {
                width: 55%;
            }
        }


    }
}

/* HomePage: StarcinFeatures */

.section--starcoin-features {

    background: linear-gradient(180deg, rgb(111 238 135 / 0.3) 0%, rgb(85 183 104 / 0.18) 81.5%, rgb(63 136 77 / 0) 100%);

    .section__content {
        display: grid;
        gap: var(--fs-size-17x);
        font-family: var(--font-PlusJakartaSans);
        font-size: 12px;

        >p {
            text-align: center;
            margin-block-start: 0;
        }
    }

}

.cards--features {
    display: grid;
    gap: var(--fs-size-8x);

    .card {
        display: flex;
        /* align-items: center; */
        gap: 10px;
        background: rgb(0 0 0 / 0.15);
        border: 1px solid rgb(255 255 255 / 0.5);
        box-shadow: 0px 32px 64px -12px rgb(111 238 135 / 0.43);
        border-radius: 16px;
        backdrop-filter: blur(3px);
        transition: all .2s linear;
        padding: 8px;

        &:hover {
            background-color: rgb(255 255 255 / 0.15);
            border-color: #FFFFFF;
        }
    }

    .card__media {
        margin: 0;
        flex-shrink: 0;
        width: calc(var(--fs-size-26x) * 2);
        /* aspect-ratio: 1; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card__content {
        display: grid;
        align-items: center;
        align-content: center;
        font-size: 10px;
        align-self: center;
    }

    .card__title {
        margin-block-start: 0;
        font-size: var(--fs-size-10x);
        font-family: var(--font-starcoin);
    }

    p {
        margin-block-start: 0;
    }
}


.card--parallelization {
    display: grid;
    gap: var(--fs-size-8x);
    padding-inline: var(--fs-size-8x);
    padding-block: 32px;
    padding-block-start: var(--fs-size-17x);
    background: rgb(0 0 0 / 0.15);
    border: 1px solid rgb(255 255 255 / 0.5);
    box-shadow: 0px 32px 64px -12px rgb(111 238 135 / 0.43);
    border-radius: 16px;

    position: relative;

    &::before {
        width: 100%;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: var(--fs-size-12x);
        border-radius: 16px 16px 0 0;
        background: url('https://picsum.photos/800/600?random=2') no-repeat center / cover;
    }

    .card__title {
        font-family: var(--font-starcoin);
        font-size: 12px;
        text-align: center;
        max-width: calc(var(--fs-size-50x) * 3);
        margin-inline: auto;
    }

    .card__content {
        display: grid;
        gap: var(--fs-size-17x);
    }

    p {
        text-align: center;
        font-family: var(--font-PlusJakartaSans);
        margin-block-start: 0;
        font-size: var(--fs-size-8x);
    }
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--starcoin-features {
        .section__content {
            font-size: 16px;
        }
    }

    .cards--features {
        .card {
            gap: var(--fs-size-30x);
        }

        .card__content {
            font-size: 16px;
        }
    }

    .card--parallelization {
        .card__title {
            font-size: var(--fs-size-8x);
        }
    }
}

/* HomePage: SectionCommunity */

.section--community {
    gap: 0;

    .section__title {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;


        small {
            color: var(--primary-color);
            position: relative;
            bottom: .125em;
        }
    }

    .section__container {
        /* gap: 16px; */
        padding-block-end: 24px;

    }

    .section__content {
        display: grid;
        gap: var(--fs-size-15x);

    }


    /* .social {
        --size: 32px;
    } */

    .title {
        font-size: 16px;
        color: var(--primary-color);
        font-family: var(--font-starcoin);
        margin-block-start: var(--fs-size-11x);
        margin-block-end: var(--fs-size-4x);
    }

    p {
        margin-block-start: 0;
        font-size: 10px;
        font-family: var(--font-PlusJakartaSans);
    }

    .column:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.5px solid rgb(255 255 255 / 0.5);
        filter: drop-shadow(0px 4px 4px rgb(111 238 135 / 0.2));
        border-radius: var(--fs-size-8x);
        overflow: hidden;
        max-height: 120px;
    }

    h4 {
        font-family: var(--font-starcoin);


        background: linear-gradient(90deg, #6FEE87 0%, #D18989 65%, #3F884D 100%) no-repeat center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        font-size: 16px;


    }

    .marquee--text {
        -webkit-text-stroke-color: var(--primary-color);
        -webkit-text-stroke-width: 1px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: var(--font-starcoin);
        -webkit-text-fill-color: transparent;
    }

    .marquee--logo {
        margin-block-end: var(--fs-size-15x);
        margin-block-start: var(--fs-size-8x);
    }
}

@media only screen and (min-width: 575.98px) {

    .section--community {
        .section__content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            /* gap: 1rem; */
        }

        .column {

            flex: 1 1 50%;

            &:nth-child(2) {
                max-width: 400px;
                max-height: unset;

            }

            img {
                display: block;
                width: inherit;
                height: inherit;
                border-radius: inherit;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--community {
        .title {
            font-size: var(--fs-size-8x);
        }

        p {
            font-size: var(--fs-size-4x);
        }

        h4 {
            font-size: var(--fs-size-8x);
        }

        .marquee--text {
            font-size: var(--fs-size-13x);
        }
    }
}


/* Features Page */

/* Features Page: SectionFeature*/
.section--feature {
    background: linear-gradient(180deg, rgb(111 238 135 / 0.3) 0%, rgba(111 238 135 / 0.147) 87%, rgb(63 136 77 / 0.048) 100%);

}

.cards--feacures {
    display: grid;
    gap: 16px;


    .card {
        background-color: rgb(0 0 0 / 0.15);
        border: 1px solid rgb(255 255 255 / 0.5);
        backdrop-filter: blur(4px);
        box-shadow: 0px 32px 64px -12px rgb(111 238 135 / 0.43);
        border-radius: 16px;
        padding-inline: 16px;
        padding-block: 16px;
        padding-block-start: 32px;
        font-family: var(--font-PlusJakartaSans);
        font-size: 12px;
        transition: all .28s linear;
        position: relative;
        overflow: hidden;
        display: grid;
        gap: 8px;

        >figure {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 16px;

        }

        &:hover {
            background-color: rgb(255 255 255 / 0.15);
            border-color: #FFFFFF;
        }
    }

    figure {
        margin: 0;
        padding: 0;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card__title {
        font-family: var(--font-starcoin);
        font-size: 14px;
        margin-block-start: 0;
    }

    p {
        margin-block-start: 0;
    }



}

.sub-cards--features {
    margin-block-start: 8px;
    display: grid;
    gap: 10px;

    .sub-card {
        background-color: rgb(217 217 217 / 0.05);
        border-radius: 12px;
        padding-block: 20px;
        padding-inline: 20px;
        transition: all .28s linear;

        display: grid;
        gap: 10px;

        &:hover {

            background-color: rgb(0 0 0 / 0.25);


        }

    }

    h5 {
        margin: 0;
        font-size: 12px;
    }

    .sbu-card__media {

        background-color: #FFFFFF;

        border-radius: 8px;
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 4px 16px rgb(0 0 0 / 0.15), inset 0px 4px 4px #6FEE87;
            z-index: 2;
            border-radius: inherit;
        }
    }

    :is(.sub-card__content, ul) {
        display: grid;
        gap: 4px;
    }

    ul {
        margin-inline-start: 16px;
    }

    li {
        list-style: outside disc;
    }
}

/* width >= 575.98px */
@media only screen and (min-width: 575.98px) {
    .cards--feacures {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .card {
            &:last-child {
                grid-column: span 2;
            }
        }
    }

    .sub-cards--features {


        .sub-card {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        h5 {
            grid-column: span 2;
        }

        .sbu-card__media {
            order: 2;
            align-self: center;
        }
    }
}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .cards--feacures {
        gap: var(--fs-size-9x);

        .card {

            border-radius: var(--fs-size-9x);
            padding-inline: var(--fs-size-9x);
            padding-block: var(--fs-size-9x);
            padding-block-start: var(--fs-size-18x);
            gap: var(--fs-size-4x);



            >figure {
                height: var(--fs-size-9x);
            }
        }

        .card__title {
            font-size: var(--fs-size-6x);
        }
    }

    .sub-cards--features {
        margin-block-start: var(--fs-size-4x);

        .sub-card {
            border-radius: var(--fs-size-6x);
            padding-block: var(--fs-size-11x);
            padding-inline: var(--fs-size-11x);
            gap: var(--fs-size-5x);

        }

        h5 {
            font-size: var(--fs-size-6x);

        }

        .sbu-card__media {
            border-radius: var(--fs-size-4x);
        }

        li {
            padding-inline-start: var(--fs-size-5x);
        }
    }
}


/* Features Page: NewTrails */

.section--new-trails {
    position: relative;

    /* .section__title {
        display: flex;
        align-items: center;
    } */

    .section__content {
        display: grid;
        gap: 20px;
    }

    .news-lists {
        order: 2;
        display: grid;

        li {
            display: flex;
            border-top: 1px solid var(--primary-color);
            padding-block-start: 8px;
            padding-block-end: 12px;
            font-family: var(--font-starcoin);
            font-size: 12px;
            text-transform: uppercase;
            color: var(--primary-color);
            position: relative;
            cursor: pointer;
        }

        label {
            display: block;
            width: 100%;
            cursor: pointer;
        }
    }


}

.news-trails__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: 1;
    margin: 0;

    &::before {
        content: "";
        position: inherit;
        inset: inherit;
        width: inherit;
        height: inherit;
        background: linear-gradient(0deg, rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.2));
        z-index: 2;
    }

    img {
        display: block;
        width: inherit;
        height: inherit;
        z-index: 1;
        object-fit: cover;
        object-position: center;
    }
}

.new-trails__container {
    position: relative;
    z-index: 2;
}

.cards--new {
    display: grid;
    align-items: center;
    align-content: center;

    >li {
        grid-area: 1 / 1 / -1 / -1;
        display: grid;
        align-content: start;
        align-items: start;
        gap: 16px;
        background-color: rgb(111 238 135 / 0.2);
        border: 1px solid rgb(111 238 135 / 0.5);
        filter: drop-shadow(0px 12px 6px rgb(111 238 135 / 0.5));
        box-shadow: 0px 16px 12px -10px rgb(111 238 135 / 0.5);
        backdrop-filter: blur(5px);
        border-radius: 16px;
        padding-inline: 24px;
        padding-block: 24px;
        opacity: 0;
        transition: all .2s linear;

    }

    svg {
        display: block;
        width: 32px;
        aspect-ratio: 1;
    }

    p {
        margin-block-start: 0;
        font-size: 12px;
        font-family: var(----font-PlusJakartaSans);
    }
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

#storage:checked~.cards--new>#card--storage,
#easy-gas:checked~.cards--new>#card--easy-gas,
#dao:checked~.cards--new>#card--dao,
#billing:checked~.cards--new>#card--billing,
#bootstrapped:checked~.cards--new>#card--bootstrapped,
#stdlib:checked~.cards--new>#card--stdlib,
#freely-nft:checked~.cards--new>#card--freely-nft,
#verification:checked~.cards--new>#card--verification {
    animation: slideInRight .28s cubic-bezier(0.4, 0, 0.2, 1) both;
}

#storage:not(:checked)~.cards--new>#card--storage,
#easy-gas:not(:checked)~.cards--new>#card--easy-gas,
#dao:not(:checked)~.cards--new>#card--dao,
#billing:not(:checked)~.cards--new>#card--billing,
#bootstrapped:not(:checked)~.cards--new>#card--bootstrapped,
#stdlib:not(:checked)~.cards--new>#card--stdlib,
#freely-nft:not(:checked)~.cards--new>#card--freely-nft,
#verification:not(:checked)~.cards--new>#card--verification {
    animation: slideOutLeft .2s cubic-bezier(0.8, 0, 0.6, 1) both;
}

#storage:checked~.news-lists>#news__item--storage,
#easy-gas:checked~.news-lists>#news__item--easy-gas,
#dao:checked~.news-lists>#news__item--dao,
#billing:checked~.news-lists>#news__item--billing,
#bootstrapped:checked~.news-lists>#news__item--bootstrapped,
#stdlib:checked~.news-lists>#news__item--stdlib,
#freely-nft:checked~.news-lists>#news__item--freely-nft,
#verification:checked~.news-lists>#news__item--verification {
    color: #fff;
    font-size: 14px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        height: 3px;
        width: 70%;
        background-color: var(--primary-color);
        top: -2px;

    }

}

@media only screen and (min-width: 575.98px) {
    .section--new-trails {
        .section__content {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            align-items: center;
            align-content: center;
        }

        .news-lists {
            order: unset;
        }

        /* 
        .cards--new {
            align-items: center;
            align-content: center;
        } */
    }


}


/* width >= 768px */
@media only screen and (min-width: 767.98px) {
    .section--new-trails {
        .section__content {
            gap: var(--fs-size-34x);
        }

        .news-lists {
            li {
                font-size: var(--fs-size-4x);
                padding-block-start: var(--fs-size-3x);
                padding-block-end: var(--fs-size-4x);
            }
        }
    }

    #storage:checked~.news-lists>#news__item--storage,
    #easy-gas:checked~.news-lists>#news__item--easy-gas,
    #dao:checked~.news-lists>#news__item--dao,
    #billing:checked~.news-lists>#news__item--billing,
    #bootstrapped:checked~.news-lists>#news__item--bootstrapped,
    #stdlib:checked~.news-lists>#news__item--stdlib,
    #freely-nft:checked~.news-lists>#news__item--freely-nft,
    #verification:checked~.news-lists>#news__item--verification {
        font-size: var(--fs-size-5x);
    }

    .cards--new {
        >li {
            border-radius: var(--fs-size-9x);
            padding-inline: var(--fs-size-13x);
            padding-block: var(--fs-size-13x);
            gap: var(--fs-size-9x);
        }

        svg {

            width: var(--fs-size-17x);
        }

        p {
            font-size: var(--fs-size-5x);
        }
    }


    .news-lists {

        li {
            padding-block-start: var(--fs-size-5x);
            padding-block-end: var(--fs-size-7x);
            font-size: var(--fs-size-7x);
        }
    }

}


/* width >= 992px*/
@media only screen and (min-width: 991.98px) {}