body {
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    min-height: 100dvh;
    align-items: start;
    align-content: start;
    background-color: var(--bg-body);
    color: var(--text-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: all .28s linear;

    &:focus,
    &:hover {
        color: var(--link-color-active);
    }
}

ul, li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}


/* Button */
.button {
    --btn-border-color: transparent;
    --btn-bg-color: var(--primary-color);
    --btn-text-color: var(--black);
    --btn-w: 150px;
    --btn-h: 30px;
    --btn-padding-inline: 20px;
    --btn-padding-block: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999rem;
    border: 1px solid var(--btn-border-color);
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    padding-inline: var(--btn-padding-inline);
    padding-block: var(--btn-padding-block);
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    transition: all .28s ease-in-out;
    min-width: var(--btn-w);
    white-space: nowrap;

    &:focus,
    &:hover {
        color: #fff;
    }
}

.button--outline{
    --btn-border-color: var(--primary-color);
    --btn-bg-color: transparent;
    --btn-text-color: var(--primary-color);
}

/* Section */
.section__container {
    padding-block: var(--padding-block);
    padding-inline: var(--padding-inline);
    display: grid;
    gap: 24px;
    width: 100%;
    max-width: 1228px;
    margin-inline: auto;

    .section--dividers & {
        padding-block: unset;
    }

    .hero &{
        padding-block-start: calc(var(--padding-block) + 66px);
    }
}

.section {
    display: grid;
    gap: 24px;
    .section__title {
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: var(--font-starcoin);
        font-size: 18px;
        letter-spacing: .85px;
        text-align: center;
        gap: 8px;

        strong {
            color: var(--primary-color);
        }
        h3 {
            margin-block-start: 0;
        }
        small {
            font-size: 12px;
            font-weight: 900;
            color: rgb(255 255 255  / .6);
            font-family: var(--font-PlusJakartaSans);
        }
    }
}




/* Hero Section */
.hero {
    display: grid;

    > * {
        grid-area: 1 / 1 / -1 / -1;
    }


    

    picture img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;  
    }

    /* News */
    &.hero--news picture {
        max-height: 410px;
    }
}

.hero__container {
    --fz-hero-title: 24px;
    --fz-hero-content: 12px;
    z-index: 2;
    width: 100%;
    display: grid;
    place-content: center;
    gap: 24px;
    text-align: center;
    overflow: hidden;

    > * {
        justify-self: center;
    

    }

    strong {
        color: var(--primary-color);
    }
    p {
        margin: 0;
    }
    .hero__title {
        font-size: var(--fz-hero-title);
        font-family: var(--font-starcoin);
        color: var(--white);
        letter-spacing: .1em;

        margin: 0;
        
    }

    .hero__content {
        font-family: var(--font-PlusJakartaSans);
        font-size: var(--fz-hero-content);
        letter-spacing: .1em;
        max-width: 1024px;

    }

    .hero__action {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;

        .button {
            flex: 1 1 0%;
        }
    }
}

