.section--starcoin-roadmap {
    background: url('../../images/bg-timeline.png') no-repeat center / 100% 100%;
}


.timeline {
    display: grid;
    gap: 32px;
    padding-inline-start: 44px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 1px;
        background-color: #fff;
        left: 0;
    }

    .timeline__item {
        display: grid;
        gap: 4px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -44px;
width: 6px;
height: 58px;

background: linear-gradient(180deg, #6FEE87 0%, #3F884D 100%);

        }
    }

    .timeline__time {
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 900;
    }

    .timeline__title {
        font-family: var(--font-PlusJakartaSans);
        font-size: 16px;
    }

    ul {
        display: grid;
        gap: 4px;
    }

    li {
        list-style: outside disc;
        margin-inline-start: 1rem;
    }
}

/* width >= 575.98px */ 
@media only screen and  (min-width: 575.98px) {
    .timeline {
        
        gap: 64px;
        padding-inline-start: 88px;


        .timeline__item {
            gap: 8px;
    
            &::before {
                content: "";
                left: -88px;
    width: 12px;
    height: 116px;
    
    
            }
        }

        .timeline__time {
            font-size: 32px;
        }

        .timeline__title {
            font-size: 32px;
        }
    }


}